<!DOCTYPE html>
<html>

<body>

     <div id="google_translate_element_id"></div>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



     <header>
          <h1 style="color:DodgerBlue;">BAJRA</h1>
     </header>

     <img class="card-img-top" src="/media/accounts/images/bajra.jpg" style="height:200px;" alt="Card image">


     <p>productivity of Bajra as reported by department of agriculture is 14.65q per hectare. Its production and
          productivity can be enhanced by using scientific management practices.</p>


     <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

     <p>1. Sandy loam and light or loam soils with proper drainage are considered as best.<br>
          <br>2. Bajra is a crop of dry and warm climate and is grown in areas of 40-50 cm of annual rainfall. It seldom
          grows in those areas where the annual rainfall exceeds 100 cm. The ideal temperature for its growth is
          25°-30°C. Bright sunshine after light showers is very useful in early stages of its growth.
     </p>


     <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
     <p>1. For grain Bajra should be sown from july to mid august and for fodder purpose it can be sown from last week
          of june to first week of july’.<br>
          2. Bajra should be sown at the depth of 4cmin lines with a spacing of 45cm.<br>
          3. Seed Rate: 4-5 kg seed per hectare is required.<br></p>


     <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

     <p>1. Use balance fertilizers as per the soil test basis. Generally for hybrid varieties 80-100kg nitrogen,40-50kg
          phosphorous ,and 40kg potash is recommended.<br>
          2. composite varieties needs 40-50kg nitrogen, 25kg phosphorous ,and 25kg potash per hectare.<br>
          3. Use full dose of phosphorous and potash and half dose of nitrogen as basal dressing and the remaining dose
          of nitrogen should be applied after 25-30 days after sowing as top dressing .<br>
     </p>


     <h2 style="color:MediumSeaGreen;">Pesticides precautions</h2>

     <p>1. Apply only at recommended dose and dilution<br>
          2. Do not apply on hot sunny day or strong windy condition; Do not apply just before the rains and after
          the rains; Do not apply against the windy direction<br>
          3. Emulsifiable concentrate formulations should not be used for spraying with battery operated ULV
          sprayer<br>
          4. Wash the sprayer and buckets etc with soap water after spraying<br>
          5. Containers buckets etc used for mixing pesticides should not be used for domestic purpose<br>
          6. Avoid entry of animals and workers in the field immediately after spraying<br>
          7. Avoid tank mixing of different pesticides<br></p>



</body>

</html>