<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



  <header>
    <h1 style="color:DodgerBlue;">BANANA</h1>
  </header>


  <img class="card-img-top" src="/media/accounts/images/banana.jpg" style="height:200px;" alt="Card image">

  <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

  <p>1. depth and drainage are the two most important considerations in selecting the soil for banana. The soil suitable
    for banana should be 0.5 1m in depth, rich, well drained, fertile, moisture retentive, containing plenty oforganic
    matter.<br>
    2. The range of pH should be 6.5-7.5.<br>
    3. Alluvial and volcanic soils are the best for banana cultivation.<br>
    4. Banana is essentially tropical plant requiring a warm and humid climate. It can be cultivated in a temperature
    range of 10°C and 40°C with high humidity but growth is retarded at temperatures of 20°C and less and more than
    35°C.<br>
    5. Yields are higher when temperatures are above 24°C for a considerable period. In cooler climate, the crop
    requires longer time to mature. Plants exposed to low temperature and humidity during active growth stage show
    reduced growth and yields.<br>
    6. It requires on an average, 1700 mm rainfall distributed throughout the year for its satisfactory
    growth. <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
  <p>1. Planting can be done in May-June or in September – October<br></p>


  <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

  <p>1.The fertilizer dose depends upon the fertility of soil and amount of organic manure applied to thecrop.<br>
    2. For a good yield, 40-50 t/ha of well-decomposed FYM is incorporated into the soil.<br></p>


  <h2 style="color:MediumSeaGreen;">Possible pests and suitable remedies</h2>

  <p>1. Panama wilt pest –<br>
    Remedy – 1. Severly affected plant should be uprooted and burnt<br>
    2. Grow paddy followed by banana for 3-5 years once or twice<br>
    3. Use of quick lime near the base of plant<br>
    2. Leaf spot or sigatoka pest –<br>
    Remedy – 1. Dithane M-45 WP (in oil-water emulsion) and Dithane M-45 (in water only)<br>
    2.Cultural practises such as improved drainage & control of weeds<br>
  </p>

 <h2 style="color:MediumSeaGreen;">Successfull Stories of Farmers</h2>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/bana.mp4" type="video/mp4">
  <source src="/static/accounts/bana.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>


</body>

</html>