<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>




  <header>
    <h1 style="color:DodgerBlue;">Bean</h1>
  </header>

  <img class="card-img-top" src="/media/accounts/images/Bean.jpeg" style="height:200px;" alt="Card image">


  <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

  <p>

    1. Beans grow best in loose, well-worked, well-drained soil rich in organic matter. (But beans will grow in soil
    that is sandy, rocky, and even clayey.)<br>
    2. Turn your soil to a depth of 6 to 8 inches and add aged compost in advance of planting.<br>
    3. Beans are considered a warm-season crop, sensitive to temperature extremes.
    Low temperatures slow down plant growth while high temperatures accelerate it. <br>
    4. Generally, plants are more adaptive during short days; they are very frost tender and need a minimum average soil
    temperature (18°C) to germinate well.

    <br>
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
  <p>

    for spring season, best time for Kidney beans cultivation is February-March and for Kharif season, it is sown during
    May-June month. In Punjab, some farmers sow Kidney beans in last week of January. For early sown varieties use
    spacing of 45-60 cm between rows and 10-15 cm between plants <br></p>

  <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

  <p>

    Manure has been shown to provide all the substances that beans need to grow, and it can be used exclusively without
    the need for chemical fertilizers. Manure enriches the soil and improves its texture by loosening it, a benefit for
    developing bean plant roots.

    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Land Preparation</h2>

  <p> To get beans off to a good start, till or spade a sunny section of your garden to a depth of six to eight inches,
    making sure the soil is as free as possible of clumps of earth or sod. A seed-bed of deep, loose soil allows bean
    roots to stretch rapidly and to take in water, food and oxygen easily.

    <br>
  </p>



</body>

</html>