<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">BLACK PEPPER</h1>
    </header>


    <img class="card-img-top" src="/media/accounts/images/Black_pepper.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

    <p>1. Black pepper is a plant of humid tropics requiring high rainfall andhumidity. The hot and humid climate is
        ideal for its cultivation.<br>
        2. The crop tolerates temperatures between 10 o and 40°C. The favourable tem-perature range is 23 - 32 o C and
        the ideal temperature is around 28 o C.<br>
        3. Optimum soil temperature for root growth is 26 - 28 o C.<br>
        4. The ideal range of relative humidity for the crop is 75-80%.<br>
        5. A well distributed annual rainfall of 1250-2000 mm is considered ideal for black pepper.<br>
        <br>6. Black pepper can be grown in a wide range of soils with a pH of 5.5 to 6.5, though in its natural habitat
        it thrives well in red laterite soils. <br>
    </p>


    <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
    <p>1. Pepper vines start yielding usually from the 3rd or 4th year. The vines flower in May-June.<br>
        2. It takes 6 to 8 months from flowering to ripening stage.<br>
        3. Harvesting is done from the November to February in the plains and January to march in the hills.<br></p>


    <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

    <p>1. Apply about 10 Kgs of well rotten cattle manure or compost per vine per year during April- May.
        <br>2. Apply Ammonium Sulphate 500 gms, Super Phosphate 1 kgs and muriate of potash 100 gms. per year per vine
        in the month of August – September.<br>
    </p>


    <h2 style="color:MediumSeaGreen;">Planting</h2>

    <p> Pits of 50 cubic centimeters at a distance of 30 cm away from the base, on the north, eastern or north eastern
        side of supporting tree are taken with the onset of monsoon. The pits are filled with mixture of top soil,
        farmyard manure 5 kg/pit and 150 g rock phosphate.
        Neem cake 1 kg, Trichoderma harzianum 50 g also may also be mixed with the mixture at the time of planting. With
        the onset of monsoon, 2-3 rooted cuttings of black pepper are planted individually in the pits. Lowering of the
        vines is a practice followed in many pepper grow <br>
    </p>
<h2 style="color:MediumSeaGreen;">Successfull Stories of Farmers</h2>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/blackpepper.mp4" type="video/mp4">
  <source src="/static/accounts/blackpepper.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>



</body>

</html>