<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">Bottle Gourd</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Bottle_Gourd.jpeg" style="height:200px;" alt="Card image">


    <p>
        n India, it is an important vegetable crop.

        In green stage, the vegetables and leaves with stem are used as a vegetable.

        Hard shell of the Bottle Gourd is used for different purposes.

        It is one of the world’s first cultivated plants and it is not grown mainly for food but it is also used as
        containers.


    </p>
    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        It requires moist and hot climatic conditions for its cultivation.

        The Vegetables cannot withstand frost.

        For 4 months there should be no frost for its better growth.

        The suitable temperature for its cultivation is 20-32°c.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        It can be grown in a wide range of soils.

        But it grows best in Sandy loamy soils with a good drainage system.


    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        6-7 plowings followed by harrowing should be done to bring the soil to fine tilth.

        In soil, pH range should be from 6.5-7.5 for its cultivation.

        For better yield and good quality of vegetable, organic matter or FYM should be added for making the soil rich.
        <br>
    </p>



</body>

</html>