<!DOCTYPE html>
<html>

<body>
	<div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



	<header>
		<h1 style="color:DodgerBlue;">Brinjal</h1>
	</header>


	<img class="card-img-top" src="/media/accounts/images/Brinjal.jpeg" style="height:200px;" alt="Card image">

	<h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

	<p>1. It can be grown in all types of soils, but well drained fertile, rich in organic matter silt or clay
		loam soils are ideal.<br>
		2. The optimum pH is between 5.5-6.6, although it can tolerate a little soil
		acidity. Sandy loam soil is best for early crop and clay loam soil for higher yield.<br>
		3. It is a warm season crop and requires a relatively long growing season with plenty of
		sunshine and moderate day temperature of 21 0 -27 0 C. <br>
		4. Extreme temperature (below 10 0 C and above 30 0 C ) adversely affects fruit setting. Warm and humid climate
		favours luxurious growth and cool climate restricts the growth.<br>
		<br>
	</p>


	<h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
	<p> brinjal can be grown round the year, the main sowing season being during July to August. For a second crop of
		brinjal, seeds are sown from March to April. Seedlings are grown on raised nursery bed of 15 cm height.<br></p>


	<h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

	<p>
		1. The fertilizer dose depends upon the fertility of soil and amount of organic manure applied to the crop.<br>
		2. For a good yield, 15-20 tonnes of well-decomposed FYM is incorporated into the soil.<br>
		3. Generally, application of 150 kg N, 100 kg P2 O5 and 50 kg K2 O is recommended for optimum yield.
		<br>
	</p>


	<h2 style="color:MediumSeaGreen;">Pesticides</h2>

	<p>1. Spraying of Carbaryl (0.1%) or Malathion (0.05%) controls the pest effectively.<br>
		2. Red Spider mite (Tetracycline neocaledonicus, Tetranychus cinnabarinus,Paratetranychus indicus): The mite is
		a pest of brinjal. ... Acaricides like Dicofol (0.05%) and Wettable Sulphur (0.3%) gives effective control of
		mites.<br>
	</p>
<h2 style="color:MediumSeaGreen;">Successfull Stories of Farmers</h2>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/Brinjal.mp4" type="video/mp4">
  <source src="/static/accounts/Brinjal.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>



</body>

</html>