<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">Cardamom</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Cardamom.jpeg" style="height:200px;" alt="Card image">

    <p>
        Cardamom ( Elettaria cardamomum L.) popularly, known as Queen of Spices is native to the evergreen rainy forests
        of Western Ghats in South India. It is cultivated in Kerala, Karnataka and Tamil Nadu. Cardamom is used for
        flavouring various preparations of food, confectionery, beverages and liquors.
    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        It is grown in the areas where the annual rainfall ranges from 1500-4000mm, with a temperature range of 10-35o C
        and an altitude of 600-1200m above Mean Sea Level. Rainfall distribution should be good and summer showers
        during February-April are essential for panicle initiation.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Deep black loam soil with high humus content found in the forest region is best suited for cultivation. It also
        grows on laterite soils, clay loams and rich black soils having good drainage. Sandy soil is not suitable.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Pits of 45x45x30cm size are dug in April-May and filled with a mixture of top soil and compost or well
        decomposed farm yard manure. In slopy land, contour terraces may be made and pits may be taken along the contour
        and a close planting (2mx1m) is advisable along the contour.
        <br>
    </p>



</body>

</html>