<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



  <header>
    <h1 style="color:DodgerBlue;">Carrot</h1>
  </header>

  <img class="card-img-top" src="/media/accounts/images/Carrot.jpeg" style="height:200px;" alt="Card image">


  <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

  <p>

    1. Carrot is a cool season crop and will develop a good colour when grown at 15°C to 20°C.<br>
    2. The crop needs deep loose loamy soil.<br>
    3. It requires a pH ranging from 6.0 to 7.0 for higher production. Carrot can be grown throughout the year at an
    elevation above 1500 metres with assured irrigation.<br>
    4. carrots grow best in cool weather climates, between 60 and 70 degrees Fahrenheit. If the climate is too hot, the
    carrots might not grow as large, and might have an overpoweringly strong flavor .<br>

    <br>
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
  <p>

    Start sowing this cool-weather crop 3 weeks before the last expected frost; plant again every 2 to 3 weeks after
    that. Most cultivars take 70 to 80 days to mature, so sow your last planting 2 to 3 months before the first expected
    fall frost. In Zone 8 and warmer, plant carrots in fall or winter <br></p>

  <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

  <p>
    Carrots should be fertilized when the tops have reached 3 inches tall. A granular type fertilizer will work well, if
    used in moderation. Choose a fertilizer that has little nitrogen and more potassium and phosphate - 0-10-10 or
    5-15-15 will work well.
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Pre-Emergence Carrot-Weeding SCchedule </h2>

  <p>
    1.Before planting your carrots, weeding or tilling in the weeds several times is ideal.<br>
    2.We also recommend flame-weeding just before seeding, or just before the carrot seeds germinate.
    <br>3.One of the most successful pre-emergence timing strategies, particularly for organic growers, involves placing
    a sheet of Plexiglass over the first few feet of a seeding, then checking it daily. As soon as you notice the
    carrots begin to germinate beneath the Plexiglass, it's time to flame weed, because the rest of the stand will begin
    emerging in 2–3 days.

    <br>
  </p>

  <h2 style="color:MediumSeaGreen;">Post-Emergence Carrot-Weeding SCchedule </h2>

  <p>

    1.If precision pelleted seeds are not used and thinning is thus required, the first post-emergence weeding should be
    carried out as soon as the carrot cotyledons emerge from the soil. This gives the seedlings the upper hand because
    their growth will be ahead of any ensuing weeds'.<br>
    2.The second post-emergence weeding/cultivation should take place when the seedlings reach roughly 3–4" in height.
    <br>3.The third post-emergence weeding/cultivation should occur when the seedlings are 5–6" in height.
    And, finally, a fourth time is recommended when the seedlings reach 7–8" in height.

    <br>
  </p>



</body>

</html>