<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">Castor Seed</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Castor_seed.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate and Soil</h2>

    <p>
        Castor, a ruderal species, can be grown in tropical and subtropical regions as a perennial plant and in
        temperate regions as annual plant. It is a long day plant, and for normal growth and development, a day length
        of about 12–18 hours is required. It is found from sea level to altitudes of about 2000 m with an optimum of
        300–1500 m, and its cultivation is restricted to countries lying between 40°N and 40°S latitudes, but in Russia,
        a few varieties are grown even up to 52°N latitude [8], and in India it is being cultivated up to an altitude of
        2500 m. Its cultivation is restricted up to 500 m where frost is common during cropping season. For obtaining
        better yield, a frost free-growing period of about 140–190 days is highly essential depending on variety. It is
        deep rooted and fairly drought-resistant crop which requires annual rainfall of 250–750 mm. A moderate
        temperature of 20–25°C [1] and low relative humidity with clear sunny days are highly favorable for better
        yield. For germination, a soil temperature of 12–18°C is suitable. It is sensitive to high relative humidity and
        temperature above 40°C and below 15°C, which yields a negative impact on yield [14].

        Castor can be grown well on fairly deep, moderately fertile, slightly acidic, and well-drained sandy loam soils.
        Heavy clays with poor drainage and marshy soils are not suitable for castor cultivation. The soil with low water
        holding capacity, pH > 9 and pH < 4, electrical conductivity (EC)>4 dS/m, and exchangeable sodium percentage
            (ESP) >20% is not suitable for castor cultivation. Moderately fertile soils are preferable than excessive
            fertile because excessive fertility favors vegetative growth in the expense of seed yield [14].
            <br>
            <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Irrigation</h2>

    <p>
        Although castor can tolerate moisture stress, it performs well to irrigation. If castor expertizes moisture
        stress during seedling to flowering stage, it shows poor performance. If irrigation facilities are available,
        two to three irrigations should be given during this critical stage. If only one irrigation is available, it
        should be given at flowering stage. No irrigation should be given during maturity stage because it delayed
        maturity and also influences new vegetative growth [14]. During the season of high rainfall, proper drainage
        facilities should be provided to avoid water stagnancy.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Land preparation is an essential step to prepare soil favorable for cultivation, to control weed, and to
        conserve soil moisture. Castor requires moist and well-pulverized loose top soil for better seed germination and
        early growth. It is done by three to four deep plowings followed by two to three harrowing to break the clods
        and leveling the field. Ridging is recommended in dry areas where the total rainfall is low [8].
        <br>
    </p>



</body>

</html>