<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">Colocosia</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Colocosia.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        June – July and February – March are the suitable season for cultivation.
        C. esculenta is best suited to tropical lowland areas with annual precipitation greater than 2000 mm, and evenly
        distributed, although there are many upland varieties with water requirement of much less than 2000 mm. It is
        well adapted to high temperatures (20-35°C) and shaded conditions and for that reason it is common to find it
        growing under coconut, cocoa or coffee plantations: when cultivated, it is often grown as an intercrop with such
        tree crops. It also grows well in wetlands including paddies with a continuous supply of flowing water,
        furrow-irrigated fields, and raised beds in poorly drained swamps. As a crop, many cultivars adapted to wet soil
        conditions, drought, partially saline conditions, and low temperatures have been produced. In Papua New Guinea,
        it is as frost hardy as sweet potato.

        C. esculenta grows best in well-drained loamy soils, but it has the potential to grow in a wide variety of soils
        including clay, sandy, and loamy soils with pH normally ranging from 5.5 to 6.5 (Onwueme, 1999; Safo-Kantaka,
        2004). In Malaysia it is reported to tolerate soil pH ranging from 4.2 to 7.5. Good crop yields require high
        fertility.

        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        It comes up well in loamy soils with a pH range of 5.5-7.0 and a combination of warm and moist climate with a
        mean temperature of 21-270 C. It can be grown up to 1500 m elevation with well distributed rainfall of about
        1000 mm during growth period. In areas where rainfall is less, a good amount of supplementary irrigation is
        required for successful production.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Plough the field to a fine tilth and form ridges and furrows at a spacing of 45 cm. In sandy loam soil, pit
        method is followed.
        <br>
    </p>



</body>

</html>