<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


    <header>
        <h1 style="color:DodgerBlue;">Coriander</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Coriander.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate and Soil</h2>

    <p>
        Dhaniya or Coriander is cultivated mainly for leaf purpose. For obtaining higher grain yield it has to be grown
        in specific season. Grain production is better when grown in a dry and cold weather, free from frost especially
        during flowering and fruit setting stage. Cloudy weather during flowering and fruiting stage is not preferable
        since this supports pest attack and diseases. Heavy rain on the other hand damages the crop. As an irrigated
        crop, it can be cultivated on almost all types of soils provided sufficient organic matter is applied. Under
        rainfed conditions it is best suited to grow in black cotton soils.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Harveting and Yeild</h2>

    <p>
        The crop normally gets ready for harvest in about 90 to 110 days depending upon the varieties and growing
        season. Harvesting should be considered once the fruits ripen completely and change color from green to brown.
        In harvesting process the plants are cut or pulled and poled into small stacks in the field to beating with
        sticks or rubbing with hands. The produce is winnowed, cleaned and dried in partial shade. After drying, the
        produce is stored in gunny bags lined with paper. Yield of Dhaniya as rainfed crop averages between 400 to 500
        kg/ha, while yield for the irrigated crop is between 600 to 1200 kg/ha.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>
        For rainfed areas, the land is ploughed 3 to 4 times, before the rainy season. After a heavy rain the field must
        be planted immediately to break the clods and to avoid soil moisture. For irrigated crop the land is ploughed
        twice or thrice and beds and channels are built then.
        <br>
    </p>



</body>

</html>