<!DOCTYPE html>
<html>

<body>
<div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Earhead feeders (Corn worm/Earworm: Helicoverpa armigera)</h1>
    </header>


    <img src="http://agritech.tnau.ac.in/crop_protection/images/pestc/maize/cornworm/boreholeoncob.jpg" width="400"
        height="300">

    <h2 style="color:MediumSeaGreen;">Symptoms of Damage</h2>

    <p>
        Larva feeds on silk and developing grains.
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Identification of Pest</h2>

    <p>

        1. Eggs - Spherical in shape and creamy white in colour, laid singly
        <br>2. Larva - Shows colour variation from greenish to brown.
        <br>3. It has dark brown grey lines on the body with lateral white lines
        <br>4. Pupa - Brown in colour, occurs in soil, leaf, pod and crop debris
    <h4 style="color:MediumSeaGreen;">Adult</h4>

    1. Light pale brownish yellow stout moth.
    <br>2. Forewings are olive green to pale brown with a dark brown circular spot in the centre.
    <br>3. Hind wings are pale smoky white with a broad blackish outer margin.



    <br>
    </p>



    <h2 style="color:MediumSeaGreen;">Remedy</h2>


    <p>
        • Set up of light traps<br>
        • Set up sex pheromone traps at 12/ha<br>
        • Two applications of NPV at 10 days interval at 1.5 X1012 POB along with
        Crude sugar 2.5 kg + cotton seed kernel powder 250 g on the ear heads<br>
        Apply any one of the following on 3 rd and 18 th day after panicle emergence :<br>
        • Carbaryl 10 D @ 25 kg/ha<br>
        • Malathion 5 D @ 25 kg/ha<br>
        • Phosalone 4 D @ 25 kg/ha <br>

        <br>
    </p>




</body>

</html>