<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Cowpea</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Cowpea.jpeg" style="height:200px;" alt="Card image">

    <p>
        Cow pea is oldest annual legume grown throughout India for green pods, dry seeds, green manure and fodder. It is
        considered as crop of African origin. It is drought hardy crop also quick growing thus supressed weeds during
        initial stage. It also help to conserved soil and moisture. Cowpea is a good source of protein, calcium and
        iron. It is cultivated in irrigated areas of Punjab.


    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        The optimum temperature for cowpea growth is 30 °C (86 °F), making it only available as a summer crop for most
        of the world. It grows best in regions with an annual rainfall between 400 and 700 mm (16 and 28 in). The ideal
        soils are sandy and it has better tolerance for infertile and acid soil than most other crops.

        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        It can be grown in variety of soils but gives best result when grown on well drained loamy soils.


    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        It required normal bed preparation like other pulse crops. Give two ploughing to bring soil to fine tilth and
        carry out planking after each ploughing.


        <br>
    </p>



</body>

</html>