<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Gaur seed</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Gaur_seed.jpeg" style="height:200px;" alt="Card image">

    <p>
        Guar is an important legume crop. It is cultivated for fodder as well as for grain purpose. Also it is used as
        vegetable and green manure crop. It is drought tolerant crop and also thrives in semi-arid regions. Gaur gum is
        extracted from gaur beans (endosperm of seed) has several industrial uses. It is used to make gum powder which
        is used in Oil extraction industry, food processing and preservation, printing, textile and paper industry.
    </p>

    <h2 style="color:MediumSeaGreen;">Cultivation of Gaur</h2>

    <p>
        Guar is being grown in India since ancient time. The tender green guar is an important source of nutrition to
        animals and humans and is consumed as a vegetable and cattle feed. Guar is a drought-tolerant plant which needs
        moderate legume crop, which grows best in sandy soils and needs Moderate ,intermittent rainfall with lots of
        sunshine.below the soil surface. lts roots develop well in lateral direction also. Some of the varieties ave
        small hair on all parts of plant whereas some have glabrous (smooth, no hairs) leaves,stems and pods. The leaves
        are alternate trifoliate and are borne on long petioles.Plants have single stem, fine branching or basal
        branching and grow as high as 45-100 cm. The flowers are small, and white. The pods are oblong and 5 to 10 cm in
        length. Pods normally contain 5 to 12 seeds of oval or cube shape of variable size and color.

        For optimum plant growth, guar requires rain before planting and again to induce maturation of the seeds. Too
        much precipitation can cause the plant to become more "leafy" thereby reducing the number of pods and/or the
        number of seeds per pod that affects the size and yield of seeds.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Properties</h2>

    <p>
        Guar gum is a natural high molecular weight polysaccharide composed of galactose and mannose units combined
        through glycosidic linkages.
        Colour of guar gum powders varies from white to cream -colour
        Guar gum powder and solution is odorless and has a bland taste
        Guar gum powder dissolves rapidly in cold as well as in hot water. It is insoluble in organic solvents
        Guar gum powder is slightly acidic in nature and pH of 1% solution ranges from 5.4 to7.7.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        For guar cultivation, firm and uniform beds are required. Plough the land thoroughly for two to three times and
        bring to fine tilth. After then do harrowing and planking to make land levelled.
        <br>
    </p>



</body>

</html>