<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



  <header>
    <h1 style="color:DodgerBlue;">Ginger</h1>
  </header>


  <img class="card-img-top" src="/media/accounts/images/Ginger.jpeg" style="height:200px;" alt="Card image">

  <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

  <p>1. ginger is a tropical crop and thrives well in warm and humidclimate. It is cultivated up to an elevationof 1500
    m above sea level. Cool and dry climate is best for rhizome development. It
    is a shade loving plant and requires ample moisture for normal growth. Deep, well-drained, friable, loamy soil,rich
    in humus is ideal for ginger cultivation. It is not desirable to grow ginger in the same
    field year after year.

    <br>
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
  <p> Ginger can be planted from start of April to May in the region. But the best time is the middle of April when
    there is sufficient moisture in the soil. Method of planting: Ginger is propagated from small rhizomes known as
    bits. Bits of 4-5 cm long weighing 25 – 30 gm are separated from the mother rhizomes for planting. Spacing of 30 cm
    X 25 cm is considered ideal for ginger. Rhizomes are planted at a depth of 4-5 cm in furrows and covered with
    soil.<br></p>


  <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

  <p>
    Ginger is an exhaustive crop and requires heavy manuring for obtaining better yield and quality. At the time of
    field preparation, 3-5 tonnes<br></p>


  <h2 style="color:MediumSeaGreen;">Land preparation</h2>

  <p>Plow the field twice then harrow to pulverize the soil. Incorporate fully decomposed FYM at 3-5 t/ha. For raising
    rainfed crop, land is divided into raised beds of 1 m width and of convenient length varying from 3 - 6 m and 15 cm
    height with spacing of 30 cm between beds for drainage channel. On hill slopes, the beds are formed along the
    contours.
    <br>
  </p>
<h2 style="color:MediumSeaGreen;">Successfull Stories of Farmers</h2>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/Ginger.mp4" type="video/mp4">
  <source src="/static/accounts/Ginger.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>




</body>

</html>