<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>



  <header>
    <h1 style="color:DodgerBlue;">Gram</h1>
  </header>


  <img class="card-img-top" src="/media/accounts/images/Gram.jpeg" style="height:200px;" alt="Card image">

  <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

  <p>
    1. Green gram is best suited to areas having an annual rainfall of 60 to 75 cm. It requires a hot and warm climate.
    Greengram is considered to be hardiest among all pulse crops and can tolerate drought to a great extent. Hence, it
    is successfully grown in any adverse conditions and particularly in drought prone areas during kharif season.
    However,water logging and cloudy weather are harmful for the crop. It is grown in all the three seasons in the
    country. <br>
    2. Green gram can be grown on a variety of soils ranging from sandy loam to black cotton soils having good drainage
    capacity. Saline and alkaline soils are not suitable for green gram cultivation. Green gram is very sensitive to
    water logging conditions.

    <br>
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
  <p> Sowing is done on onset of the monsoon in kharif season and during second fortnight of February to first fortnight
    of March in summer season..<br></p>


  <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

  <p>
    Apply Urea 13 kg/acre and Super Phosphate @100 kg/acre at time of sowing. For efficient use of fertilizer apply all
    the fertilizers are drilled in furrows at a depth of 7-10 cm.<br></p>


  <h2 style="color:MediumSeaGreen;">Field preparation</h2>

  <p> Field is prepared by one or two ploughing followed by two or three cross harrowing and planking. The field should
    be well leveled and free from weeds and stubbles. <br>
    For summer season crop, pre-sowing irrigation should be given immediately after harvesting of the previous crop
    Field is prepared at Vapsa conditions by giving two or three ploughing by local plough or harrow. Each
    ploughing/harrowing should be followed by planking to make the field levelled and to minimize the loss of moisture
    by evaporation from the soil. Planking operation is important in summer season to prevent the losses of moisture
    from the soil.
    <br>
  </p>

  <h2 style="color:MediumSeaGreen;">Irrigation</h2>
  <p> For rainfed crop, irrigation is not needed but drainage is very important because
    this crop is very much sensitive to water logging.<br>
    For summer season crop, five to six irrigations may be given. First irrigation should
    be given at 20-25 DAS and subsequent irrigations should be given at an interval of 12-15
    days. Irrigation should not be given at full bloom stage of the crop. Late flowering and
    early pod filling stages are critical stages for irrigation.
    <br>
  </p>



</body>

</html>