<!DOCTYPE html>
<html>

<body>
   <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


   <header>
      <h1 style="color:DodgerBlue;">Groundnut</h1>
   </header>

   <img class="card-img-top" src="/media/accounts/images/Groundnut.jpeg" style="height:200px;" alt="Card image">


   <h2 style="color:MediumSeaGreen;">Soil and Climate</h2>

   <p>

      1. Peanuts grow best in loose, well-drained soil rich in organic matter. A sandy-loamy soil is best. Double-dig
      clay soil and add gypsum and aged compost.<br>
      2. The soil must be loose so that the pegs can penetrate and grow.<br>
      3. Optimum mean daily temperature to grow is 30°C and growth ceases at 15°C. For rapid emergence, soil temperature
      above 21°C is needed.


      <br>
      <br>
   </p>


   <h2 style="color:MediumSeaGreen;">Time of Sowing</h2>
   <p>

      Kharif-groundnut- June to July subject to onset of monsoon, Rabi groundnut-November and Summer
      groundnut-February-March.<br></p>


   <h2 style="color:MediumSeaGreen;">Manure and Fertilizers</h2>

   <p>

      Use of either farmyard manure (FYM) and vermicompost along with other organic amendments like neem seed cake; and
      bio- fertilizers and bio-pesticides etc., in rainfed groundnut, found advantageous for sustainable crop
      production.
      <br>
   </p>


   <h2 style="color:MediumSeaGreen;">Pesticides</h2>

   <p>1. Spray dimethoate 30EC @ 650ml/ha
      2. Monochrotophos 36SL @ 600ml/ha in 600 liter water.
      <br>
   </p>

<a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/groundnut.pdf" target="_onblank"<p>Crop Yeild Growth Handbook</p></a> 



</body>

</html>