<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Horse-gram</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Horse-gram.jpeg" style="height:200px;" alt="Card image">

    <p>
        Horse gram is an important crop of South India. Its grain is used for human consumption as ‘dal ’ as well as in
        preparation of so called ‘rasam’ and also as a concentrated feed for cattle. It may also be used as green
        manure. This crop is generally grown when the cultivator is unable to sow any other crop for want of timely
        rains and also grown in vacant space of citrus orchar
    </p>


    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Horsegram is extremely drought-resistant crop. Moderately warm, dry climatic conditions are suitable for its
        optimum growth. It does not grow well on higher altitudes because of cool and wet climate. Horsegram can be
        cultivated up to an altitude of 1000 m above the sea level. The temperature range of 25 - 30°C and relative
        humidity between 50 and 80% is optimum for its growth. Heavy rains during the initial stages of crop growth
        affect nodule formation owing to poor aeration in the soil. A well - distributed rainfall of about 800 mm is
        sufficient for its successful cultivation, but it performs well even under low rainfall areas.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Generally grown on lateritic soil (poor in fertility) in south India. The crop can be grown on wide range of
        soils from light to heavy soils which are free from alkalinity. The crop needs minimum field preparations. Only
        1 - 2 ploughings followed by planking provides desirable seed - bed.


    </p>


    <h2 style="color:MediumSeaGreen;">Sowing Time</h2>

    <p>

        The main season for sowing horse gram is late August - November. As a fodder crop it is sown during June -
        August.

        In Tamil Nadu, it is sown in September - November.
        In Maharashtra, horse gram is sown as a kharif crop, mixed with bajra or sometimes Niger and also in the Rabi in
        rice fallows.
        In M.P. it is a Rabi crop.
        In northern parts it is grown as kharif crop.
        In West Bengal the sowing period is October - November.

        <br>
    </p>



</body>

</html>