<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


	<header>
		<h1 style="color:DodgerBlue;">Jute</h1>
	</header>

	<img class="card-img-top" src="/media/accounts/images/jute.jpeg" style="height:200px;" alt="Card image">


	<h2 style="color:MediumSeaGreen;">
		CROP MANAGEMENT</h2>

	<p>Jute can be successfully growna in Coimbatore, Cuddalore, Villupuram, Vellore, Tiruvannamalai, Chengleput and
		parts of Thanjavur, Tiruvarur, Nagapattinam, Tiruchirapalli, Perambalur, Karur, Pudukkottai and Tirunelveli,
		Thoothukudi districts where assured supply of irrigation water is available for its cultivation and retting for
		fibre extraction.</p>

	<h2 style="color:MediumSeaGreen;">
		Soil type</h2>
	<p>
		Alluvial sandy loam, clay loamy soils are best suited for jute production.
		Capsularis jute can grow even in standing water especially towards the latter part of its growth.
		Olitorius jute will not thrive in standing water. The latter is more drought resistant and is therefore grown on
		lighter soils.</p>

	<h2 style="color:MediumSeaGreen;">
		Season:February</h2>

	<h2 style="color:MediumSeaGreen;">
		Land Preparation: Fine tilth is required since the seeds are very small.</h2>

	<h2 style="color:MediumSeaGreen;">
		Manures and fertilizer application:</h2>
	<p>
		Five tonnes of well decomposed farm yard manure is to be applied during last ploughing.<br>
		Besides 20 kg per ha each of N, P2O5 and K2O are to be applied basally.<br>
		Beds and channels are formed depending on water resources.<br></p>

	<h2 style="color:MediumSeaGreen;">
		Varieties:</h2>
	Capsularis JRC 212, JRC 321, JRC 7447
	Olitorius JRO 524, JRO 878, JRO 7835</p>

	<h2 style="color:MediumSeaGreen;">
		Crop duration </h2>
	<p> 120 to 140 Days</p>

	<h2 style="color:MediumSeaGreen;">
		Seed rate and sowing:</h2>
	<p>Seeds can be sown either by broadcasting or by line sowing.</p>

	<h2 style="color:MediumSeaGreen;">
		Weed management:</h2>
	<p>Hand weeding twice on 20 - 25 DAS and 35 - 40 DAS. Fluchloralin can be sprayed at 3 days after sowing at the rate
		of 1.5 kg per hectare and is followed by irrigation. Further one hand weeding can be taken up at 30 - 35 DAS.
	</p>

	<p>Top dressing of fertiliser: Apply 10 kg of N at 20 - 25 days after first weeding and then again on 35 - 40 days
		after second weeding as top dressing. During periods of drought and fertilizer shortage, spray 8 kg of urea as 2
		per cent urea solution (20 g urea in one litre of water) on jute foliage on 40 - 45 as well as 70 - 75 DAS.</p>

	<h2 style="color:MediumSeaGreen;">
		Water Management:</h2> Jute crop requires 500 mm of water. First irrigation is to be given after sowing and life
	irrigation on fourth day after sowing. Afterwards irrigation can be given once in 15 days.

	<h2 style="color:MediumSeaGreen;">
		Harvest:</h2>Jute crop can be harvested from 100 to 110 DAS but can be extended from 120 - 135 DAS depending on
	local cropping systems. Jute plants are left in the field for 3 - 4 days for leaf shedding. Then thick and thin
	plants are sorted out and bundled in convenient size.

	<h2 style="color:MediumSeaGreen;">
		Yield:</h2>
	<p>
		Green plant weight yield is 45 to 50 tonnes per hectare
		Fibre yield is 2.0 to 2.5 tonnes per hectare.</p>

</body>

</html>