<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Khesari</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/khesari.jpeg" style="height:200px;" alt="Card image">


    <p>
        Lathyrus is considered as drought-tolerant hardy crop, and is
        grown in low-rainfall regions under rainfed conditions, during winter when lentil and
        chickpea are not expected to give good yields. The crop has unique tolerance ability against
        stress environmental conditions not only drought but also for water logging. In addition to
        use as dal and chapatti, it is usually grown as fodder crop. Lathyrus leaves about 36-48
        kg/ha nitrogen economy for the succeeding crop.
    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Being a winter season crop it prefers temperate climate with good adoption under climatic
        extremities. Generally, crop requires 15 OC to 25 OC temperatures during sowing to
        harvesting of crop.

        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Thrives well in all types of soils except high acidic soils. It prefers heavy soils belonging to
        low lying areas which are not suited to other crops. It grows abundantly in loamy and deep
        black soils and produce excellent crop. For cultivation of lathyrus under utera system (relay
        cropping), no tillage is required. However, for planting after harvest of rice, one deep
        ploughing followed by cross harrowing and planking is necessary.
    </p>


    <h2 style="color:MediumSeaGreen;">Cropping system</h2>

    <p>

        It is grown as single crop of the year in areas where water gets accumulated during rainy
        season or as a relay crop after paddy often as utera / paira crop in standing paddy, due to its
        ability to withstand in high moisture conditions at sowing time and moisture stress during
        growth period.
        <br>
    </p>



</body>

</html>