<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Lentil</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/lentil.jpeg" style="height:200px;" alt="Card image">


    <p>
        It is one of the most important protein rich pulse crop. It is mostly eaten as Dal by splitting into 2
        cotyledons, deep orange red or orange yellow in color. Whole grain is also used in various dishes. Lentil also
        provide a source of starch for textiles and printing. It is mixed with wheat flour in bread and cake production.
        India is the highest producer of lentil in the world.
    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Lentil requires cold climate. It is very hardy and can tolerate frost and severe winter to a great extent. It
        require cold temperature during its vegetative growth and warm temperature at the time of maturity. The optimum
        temperature for growth is 18-300 C. Its range of cultivation extends to an altitude of 3,500 m in north-west
        hills.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Lentil can be grown on all type of soil. Saline, Alkaline or waterlogged soils should be avoided. Soil should be
        friable and weed free so that seed could be placed at uniform depth.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        In case of light soils, less tillage or soil manipulation is required to prepare seed-bed. One deep ploughing
        followed by 3-4 cross harrowing’s should be given in case of heavy soils. 2-3 ploughings are sufficient for
        proper pulverization of land. Levelling of field should also be done for proper distribution of water. Proper
        moisture should be present in the field at the time of sowing seeds.
        <br>
    </p>



</body>

</html>