<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


	<header>
		<h1 style="color:DodgerBlue;">Maize</h1>
	</header>

	<img class="card-img-top" src="/media/accounts/images/maize.jpeg" style="height:200px;" alt="Card image">


	<p>
		Maize Cultivation : Advanced Maize Production Technologies
		Maize (Zea mays L.) is one of the most versatile emerging crop shaving wider adaptability under varied
		agro-climatic conditions.<br> Globally, maize is known as queen of cereals because it has the highest genetic
		yield potential among the cereals. It is cultivated on nearly 150 m ha in about 160 countries having wider
		diversity of soil, climate, biodiversity and management practices that contributes 36 % (782 m t) in the global
		grain production.
	</p>
	<h2 style="color:MediumSeaGreen;">
		Land Preparation:</h2>
	<p>Maize requires a firm and compact seedbed free from stubbles and weed. One deep ploughing should be given,
		followed by two or three harrowings to bring the soil to a fine tilth. Add 10-15 tons of FYM or compost before
		last harrowing and mix thoroughly with harrow.</p>

	<h2 style="color:MediumSeaGreen;">
		Ecological Requirement:</h2>
	Climate: Maize does well on a wide range of climatic conditions, and it is grown in the tropical as well as
	temperate regions, from sea-levels up to altitudes of 2500m. It is however susceptible to frost at all stages of its
	growth.

	<h2 style="color:MediumSeaGreen;">
		Soil </h2>
	<p> Maize can be grown successfully in variety of soils ranging from loamy sand to clay loam. However, soils with
		good organic matter content having high water holding capacity with neutral pH are considered good for higher
		productivity. Being a sensitive crop to moisture stress particularly excess soil moisture and salinity stresses;
		it is desirable to avoid low lying fields having poor drainage and also the field having higher salinity.
		Therefore, the fields having provision of proper drainage should be selected for cultivation of maize.</p>

	<h2 style="color:MediumSeaGreen;">
		Seed and sowing</h2>
	a. Selection of seed: Seed should be free from insect, pest and disease free. It should be free from weed seed. It
	should be purchased from reliable sources. It should be high germination percentage.

	b. Seed treatment: To protect the maize crop from seed and major soil borne diseases and insect-pests, seed
	treatment with fungicides and insecticides before sowing is advisable/ recommended as per the below given details.


	<h2 style="color:MediumSeaGreen;">
		Nutrient management:</h2>
	<p>Among all the cereals, maize in general and hybrids in particular are responsive to nutrients applied either
		through organic or inorganic sources.<br> The rate of nutrient application depends mainly on soil nutrient
		status/balance and cropping system. For obtaining desirable yields, the doses of applied nutrients should be
		matched with the soil supplying capacity and plant demand (Site-specific nutrient management approach) by
		keeping in view of the preceding crop (cropping system). Response of maize to applied organic manures is notable
		and hence integrated nutrient management (INM) is very important nutrient management strategy in maize based
		production systems.
		<br> Therefore, for higher economic yield of maize, application of 10 t FYM ha-1, 10-15 days prior to sowing
		supplemented with 150-180 kg N, 70-80 kg P2O5, 70-80 kg K2O and 25 kg ZnSO4 ha-1 is recommended.<br> Full doses
		of P, K and Zn should be applied as basal preferably drilling of fertilizers in bands along the seed using
		seed-cum-fertilizer drills. Nitrogen should be applied in 5-splits as detailed below for higher productivity and
		use efficiency. N application at grain filling results in better grain filling. Therefore, nitrogen should be
		applied in five splits as per below mentioned for higher N use efficiency.
	</p>

	<h2 style="color:MediumSeaGreen;">
		Water management:</h2>
	<p>The irrigation water management depends on season as about 80 % of maize is cultivated during monsoon season
		particularly under rainfed conditions. However, in areas with assured irrigation facilities are available,
		depending upon the rains and moisture holding capacity of the soil, irrigation should be applied as and when
		required by the crop and first irrigation should be applied very carefully wherein water should not overflow on
		the ridges/beds. In general, the irrigation should be applied in furrows up to 2/3rd height of the ridges/beds.
		<br>Young seedlings, knee high stage (V8), flowering (VT) and grain filling (GF) are the most sensitive stages
		for water stress and hence irrigation should ensured at these stages. In raised bed planting system and limited
		irrigation water availability conditions, the irrigation water can also be applied in alternate furrow to save
		more irrigation water. In rainfed areas, tied-ridges are helpful in conserving the rainwater for its
		availability in the root zone for longer period. For winter maize, it is advisable to keep soil wet (frequent &
		mild irrigation) during 15 December to 15 February to protect the crop from frost injury.
	</p>
	<h2 style="color:MediumSeaGreen;">
		Weed management:</h2>
	<p>Weeds are the serious problem in maize, particularly during kharif /monsoon season they compete with maize for
		nutrient and causes yield loss up to 35 %. Therefore, timely weed management is needed for achieving higher
		yield. Atrazine being a selective and broad-spectrum herbicide in maize checks the emergence of wide spectrum of
		weeds.<br> Pre-emergence application of Atrazine (Atratraf 50 wp, Gesaprim 500 fw) @ of 1.0-1.5 kg a.i ha-1 in
		600 litre water, Alachlor (Lasso) @ 2-2.5 kg a.i ha-1, Metolachlor (Dual) @ 1.5-2.0 kg a.i ha-1, Pendamethalin
		(Stomp) @ 1-1.5 kg a.i. ha-1 are effective way for control of many annual and broad leaved weeds.<br> While
		spraying, following precautions should be taken care by the person during spray, he should move backward so that
		the Atrazine film on the soil surface may not be disturbed. Preferably three boom flat fan nozzle should be used
		for proper ground coverage and saving time. One to two hoeing are recommended for aeration and uprooting of the
		remaining weeds, if any. While doing hoeing, the person should move backward to avoid compaction and better
		aeration.</p>

	<h2 style="color:MediumSeaGreen;">
		Plant protections:</h2>

	<h2 style="color:MediumSeaGreen;">
		(A) Diseases:</h2>
	<p>
		Leaf Blight: Manifestation of oval to round, yellowish-purple spots on leaves. The affected leaves dry up and
		appear as if burnt. In severe cases, the plants may become stunted, resulting in poorly-formed ears.</p>

	<h2 style="color:MediumSeaGreen;">
		Control:</h2>
	<p>The crop can be sprayed with Dithane M-45 or Indofil @ 35-40 gms or Blue Copper @55 -60 gms in 18 litres water, 2
		-3 sprays at 15 days interval, will effectively control the disease.</p>

	<h2 style="color:MediumSeaGreen;">
		(B) Insect Pests:</h2>
	1) Stem borer: These borers feed on leaves in the earlier stages. Later on they bore into the stem and cobs,
	rendering the plant unproductive.

	<h2 style="color:MediumSeaGreen;">
		Control:</h2>
	- After harvest, the stalks and stubbles should be collected from the field and burnt.<br>
	- Crop can be sprayed twice with Thiodan 35 EC @ 27 ml in 18 litres water, once 20-25 days after germination and the
	second spray at the time of grain formation (in endemic areas).<br>

	2) Red Hairy Caterpillars: Caterpillars feed and destroy the whole plant if the attack is in the early stages of
	growth.
	Control:
	- Egg masses and young caterpillars should be collected as soon as detected, and destroyed.<br>
	- The field should be ploughed out after the crop is harvested, so as to expose pupae.<br>
	- Thiodan 35 EC @ 27 ml in 18 litres water should be sprayed only as last resort.<br>

	3) Aphids: Tiny, soft bodied insects, usually green in colour. Nymphs and adults suck the sap from leaves and young
	shoots.
	Control:<br>
	The crop can be sprayed with Rogor 30 EC @ 18 ml in 18 litres water.<br>

	4) Grass hoppers: Short-winged hoppers, laying eggs in the soil at a depth of 7.5 to 20 cms, adults feed on foliage.
	Control:<br>
	Thiodan 35 EC @ 25 ml or Ekalux 25 EC@ 28 mi in 18 litres water can be sprayed.<br>

	5) Termites: These pests attack young seedlings as well as mature plants; attack is also visible on roots and lower
	parts of the plants.
	Control:<br>
	Thiodan 4 % Dust @ 12-15 kg per hectare is applied and mixed well with the soil.<br>

	<h2 style="color:MediumSeaGreen;">
		Harvesting:</h2>
	Cobs which are to be utilized as grain should be harvested when the grains are almost dry or containing roughly 20 %
	moisture.<br> The appearance in the grains of composite and high yielding varieties however may be misleading as
	grains become dry while the stalk and leaves are still green. The cobs are removed from the standing crop and sun
	dried before shelling, otherwise retained in their jackets, if kept for seed or to be consumed or utilized at a
	later stage.<br>

	For sweet corn harvesting, harvest when tassels begin to turn brown and cobs start to swell. Kernels should be full
	and milky. Pull ears downward and twist to take off stalk.<br>

	For the Baby corn, harvested young cobs, especially when the silks have either not emerged or just emerged, and no
	fertilization has taken place, depending on the cultivar grown.<br>
<a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/maize.pdf" target="_onblank"<p>Crop Yeild Growth Handbook</p></a> 
<h2 style="color:MediumSeaGreen;">
Help for Planting Maize :</h2>
<br>
<video width="320" height="240" controls>
  <source src="static/accounts/StoriesMaize.mp4" type="video/mp4">
  <source src="static/accounts/StoriesMaize.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

</body>

</html>