<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Mesta</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/mesta.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Warm and humid climate are best suited to both the species of mesta i.e. canabinus and sabdariffa. Canabinus
        mesta is of short duration and suitable for higher rainfall areas and has got less drought tolerance capacity.
        Sabdariffa mesta is of longer duration and got better drought tolerance capacity. The crop can grow in
        temperature range of 20 degree centigrade to 40 degree centigrade but optimum temperature for its growth is 30
        degree centigrade to 34 degree centigrade. The crop ca n grow in high rainfall areas provided good drainage is
        there. On the other hand it can grow in low rainfall areas to the tune of even 500 mm rainfall per annum.
        However, a rain fall of about 125 to 1 50 mm per month distributed well is required during the growth period.
        Alternate rain and sunshine is good for better growth.

        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Land Preparation</h2>

    <p>
        Mesta being a rainfed crop, land preparation is usually done with the receipt of pre­ monsoon showers. However,
        in Andhra Pradesh, for raising rabi mesta, the land preparation is done early in February for sowing the crop
        with the help of sub­soil moisture. Land is to be ploughed with pre-monsoon shower followed by laddering to
        obtain fine tilth.

    </p>


    <h2 style="color:MediumSeaGreen;">Sowing</h2>

    <p>

        The optimum plant population for mesta is a bout 4 to 5 lakh per hectare. The recommended row to row spacing is
        25 to 30 cm and plant to plant spacing is 7 to 10 cm. if the crop is sown by broadcasting method then the plant
        to plant spacing is maintained at about 12­ - 15 cm by thinning. For maintaining optimum plant population the
        seed rate for the two species varies. However, the recommended seed rate is higher than the actual requirement
        for maintaining the desired plant population. This is done because of getting uniform plant population. After
        emergence, the excess plants are thinned out to get desired spacing
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Manures and Fertilizers</h2>

    <p>
        Fertilizer application: FYM @ 5 - 6 t/ha is to be applied during land preparation. In medium fertile soil, the
        recommended dose of fertilizer is 40:20:20 (N: P 2O 5 : K 2O, kg/ha). P and K will be applied as basal while N
        is to splitted as – 1/3 rd at sowing, 1/3 rd at time of first weeding (21 DAS) and 1/3 rd at second weeding (35
        DAS). For drier tracts, if soil moisture is not favourable, foliar application of urea (1.0%) may be done.

        In acid soils and regions with high rainfall, calcium and magnesium deficiency is common. Liming of soil @ 2­5
        t/ha, once in 4 y ears or Dolomite application (40 kg/ha) is found promising as it supplies both calcium and
        magnesium.


    </p>


</body>

</html>