<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Onion</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/onion.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Onion is a temperate crop but can be grown under a wide range of climatic conditions such as temperate, tropical
        and subtropical climate. The best performance can be obtained in a mild weather without the extremes of cold and
        heat and excessive rainfall. However, onion plant is hardy and in the young stage can withstand freezing
        temperature also. In India, short-day onion is grown in the plains and requires 10-12 hours day length. The
        long-day onion is grown in hills requiring 13-14 hours day length. For vegetative growth, lower temperature
        combined with short photoperiod is required whereas relatively higher temperature along with longer photoperiod
        is required for bulb development and maturity. The optimum temperature for vegetative phase and bulb development
        is 13-24˚C and 16-25˚C, respectively. It requires about 70% relative humidity for good growth. It can grow well
        in places where the average annual rainfall is 650-750 mm with good distribution during the monsoon period.
        Areas with low (< 650 mm) or heavy rainfall (>750 mm) are not particularly suitable for rain-fed crop.

            <br>
            <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Onion can be grown in all types of soils such as sandy loam, clay loam, silt loam and heavy soils. However, the
        best soil for successful onion cultivation is deep, friable loam and alluvial soils with good drainage, moisture
        holding capacity and sufficient organic matter. In heavy soils, the bulbs produced may be deformed. Onion crop
        can be grown successfully on heavy soil with application of organic manure prior to planting and preparation of
        the field for onion cultivation should be very good. The optimum pH range, regardless of soil type, is 6.0 -
        7.5, but onion can also be grown in mild alkaline soils. Onion crop is more sensitive to highly acidic, alkali
        and saline soils and water logging condition. Onions do not thrive in soils having pH below 6.0 because of trace
        element deficiencies, or occasionally, Al or Mn toxicity. The threshold electrical conductivity of a saturation
        extract (ECe) for onion crop is 4.0 dS/m. When the ECe level exceeds this, crop yield starts declining.

    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Prior to transplanting, field should be ploughed and disked properly to eliminate debris and soil clods. Organic
        manures equivalent to 75 kg N/ha (approximately FYM 15 t/ha or poultry manure 7.5 t/ha or vermicompost 7.5 t/ha)
        should be incorporated at the time of last ploughing and beds with appropriate size should be prepared after
        leveling. Mostly, flat beds of the size 1.5-2.0 m width and 4-6 m length is formed. However, flat bed should be
        avoided to prevent water logging during Kharif or rainy season. Water logging favours Anthracnose disease which
        is most devastating during Kharif season. Broad bed furrows (BBF) of 15 cm height and 120 cm top width with 45
        cm furrow are formed to achieve proper spacing and population density. It is suitable for drip and sprinkler
        irrigation as well. BBF is the best method for Kharif onion production because the excess water can be drained
        out through the furrow. This improves the aeration and helps in reducing the incidence of Anthracnose disease.

        <br>
    </p>
<h2 style="color:MediumSeaGreen;">Successfull Stories of Farmers</h2>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/Onion.mp4" type="video/mp4">
  <source src="/static/accounts/Onion.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>


</body>

</html>