<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Orange</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/oranges.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate and Soil</h2>

    <p>
        Deep well drained loamy soils are the best for the cultivation of sweet orange. Heavy soils, if well drained,
        yield good crops but cultivation becomes difficult.The pH of soil should be 6.5 to 7.5 and EC of water should be
        less than 1.0. Plant is highly sensitive to water-logged soils.

        A dry climate with about 50-75 cm of rainfall from June-September and with well defined summer and winter season
        is ideal. Sweet orange can be grown even upto an elevation of 900 m above mean sea level. The extreme of
        temperature are necessary for achieving higher yield. Temperature 250 C is most ideal and extreme cold and high
        temperatures are determinate.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Planting</h2>

    <p>
        Mandarin orange is propagated by seeds and also vegetatively propagated by T-budding. Seedlings are mostly
        transplanted in the month of July-August after commencement of monsoon.

        Mandarins are usually planted in pits of 50 cm. X 50 cm. X 50 cm. size in a square system with a spacing of
        4.5-6 m. , accommodating 350-450 plants/ha. In north-eastern parts of India, Khasi mandarins are very closely
        spaced (4.5 m. X 4.5 m.), accommodating more than 500 plants/ha.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Pits of 1 meter cube are dug in square system at prescribed spacing and filled with a mixture of top soil, 15-20
        kg farmyard manure and 500 g Super phosphate.


        <br>
    </p>



</body>

</html>