<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Papaya</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/papaya.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Soil</h2>
    <p>
        Papaya can be farmed in many types of soils, except sandy and sticky or heavy clay soils. Papaya roots are very
        sensitive to water logging or standing water. Even forty eight hour submergence can be fatal for the plant. In
        heavy soils, water accumulates during high rainfall, and diseases like foot-root and root-rot occur, which may
        cause the plantation to be wiped out in a short time. Hence a slightly sloppy land is preferred to a perfectly
        levelled one. Hilly soil of this region is best suited, being well drained in organic matter.

    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Papaya is basically a tropical plant. However, it also grows well in sub-tropical parts. Those foot hills which
        enjoy a mild winter are ideal for papaya cultivation. Low temperature and frost limit its cultivation in higher
        altitudes. Excessively cold nights cause the fruits to mature slowly and to be of poor quality in winter season.
        It can be grown from the sea level to an altitude of 1000 metres, but above an altitude of 600 metres, size and
        quality of fruits gradually decreases. As it grows in sub-tropical and tropical climates, it can be cultivated
        in a temperature range of 25-35˚C. In this region it can be grown successfully as a rainfed crop in areas with
        1500-2000 mm of evenly distributed annual rainfall, though yield may be poor when compared to an irrigated crop,
        because winter drought restricts development of the plants and the fruits. High humidity affects the sweetness
        of the fruits. Fruits tend to lose their sweetness in low temperature also. A warm and dry climate is needed
        during ripening season. It can not withstand strong winds being a tender and shallow-rooted plant.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Irrigation</h2>

    <p>
        The irrigation schedule is fixed on the basis of soil type and weather conditions of the region. Protective
        irrigation is provided in the first year of planting. During the second year, irrigation is provided at
        fortnightly interval in winter and at an interval of 10 days in summer. Basin system of irrigation is mostly
        followed. In areas having low rainfall, sprinkler or drip system can be adopted.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        A well-drained upland is selected for cultivation. In open and high lying areas plants are exposed to strong
        winds or storm. Therefore, for proper establishment of papaya plantation, suitable wind break should be planted
        at the orchard boundary.

        <br>
    </p>



</body>

</html>