<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Ragi</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/Ragi.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        For best growth, the finger millet cultivation requires daytime temperatures of 30 °C to 34 °C and night
        temperatures of 22°C to 25 °C. Optimum rainfall is around 100 cm per year.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Ragi is cultivated on a variety of soils ranging from rich loam to poor shallow upland soils.
        It prefers porous and well drained loam to light red loam and sandy loam soils of good fertility but reasonable
        water holding capacity.
        It can tolerate some water logging. Black soils with sufficient drainage capacity also support to cultivate Ragi
        crop.
        In southern India, it predominates on marginal soil conditions, provided by lateritic and red sandy loams.
        It withstands and thrives well on slightly alkaline soils too. It seems to have ability to utilize rock
        phosphate than other cereals do.
        The soil should be rich in organic matter. Deep vertisols and rocky soils are not suitable for this crop owing
        to poor drainage and low fertility.
        It can be grown in soils with pH of 4.5-7.5.
        Tank silt is applied to the soil just before the rain begins and soon after the land is ploughed thrice to
        incorporate weeds in the soil.
        Heavy clay soils with poor drainage is less suitable
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        The land is prepared separately for irrigated and rainfed conditions. In areas with a rainfall of 60 to 75 cm,
        ragi is cultivated as a rainfed crop. So the field should be deeply ploughed for moisture conservation. But in
        irrigated crop, plough the field immediately at the arrival of monsoon until gets fine tilth.


        <br>
    </p>



</body>

</html>