<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Safflower</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/safflower.jpeg" style="height:200px;" alt="Card image">

    <p>
        Safflower is commonly known as "khusambha, kusum" are oldest cultivated oilseed which contain 24-36% oil.
        Safflower is largely used for cooking purposes. Its decorticated cake is utilized for feeding cattle.


    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Safflower production is not recommended for areas with more than 15 in. of annual precipitation or growing
        seasons with fewer than 120 frost-free days and less than 2,200 growing degree days. Temperatures as low as 20°F
        are tolerated by plants while in the rosette stage, but safflower is very sensitive to frost injury after stem
        elongation until crop maturity. This crop does best in areas with warm temperatures and sunny, dry conditions
        during the flowering and seed-filling periods. Yields are lower under humid or rainy conditions since seed set
        is reduced and the occurrence of leaf spot and head rot diseases increases. Consequently, this crop is adapted
        to semiarid regions. Most areas of Minnesota and Wisconsin are not well suited for safflower.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Safflower is grown on maximum variety of soil. It is well grown in drained sandy loam soil and the soil which is
        rich in organic matter.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        To bring soil to the fine tilth stage land should be ploughed several times so that all weeds are removed which
        would be present their previously. Low-lying land must be eluded as water logged situation is liable to destroy
        by wilts as well as root rots.
        <br>
    </p>



</body>

</html>