<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Sannhamp</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/sunnhamp.jpeg" style="height:200px;" alt="Card image">



    <p>
        Sunhemp is quick growing leguminous crop cultivated for green manure as well as fibre crop. When it is mix well
        in soils, it prevents leaching and loss of nutrients, also conserved soil moisture. Sunhemp is originated in
        India. It can be grown in adverse climatic conditions of drought, alkalinity and salinity. In India it is
        cultivated in all the states. Maharashtra, Madhya Pradesh, Bihar, Rajasthan, Orissa and Uttar Pradesh are major
        sunhemp growing states for mainly for fibre purpose.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        It can be cultivated in all type of well-drained soil. Well drained sandy loam or loamy soil having sufficient
        moisture holding capacity are suitable for sunhemp grown for fibre purpose.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        To bring soil to fine tilth, plough land properly. Before sowing ensure soil content sufficient moisture. Proper
        moisture in soil help in good germination of seeds.
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Irrigation</h2>

    <p>
        When crop is grown for green manure purpose, it required two - three irrigation depending upon weather
        conditions. Flowering and grain development stage are crucial for irrigation when crop is grown for grain
        purpose. Avoid water stress during this period.
    </p>



</body>

</html>