<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>

    <header>
        <h1 style="color:DodgerBlue;">Sesamum</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/seasamum.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        This crop can grow in almost every large or small area of the states.

        It can be fertilized up till the latitude of 1600mm and in India it is 1200m

        It requires high temperature during the life cycle.

        The maximum temperature required during the life cycle is between 25-35 degrees.

        If the temperature goes more than 40°c the hot winds will reduce the oil content.

        If the temperature is above 45°c or less than 15°c, there will be a major reduction in yield.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Alkaline or acidic soils are not suitable for this crop.

        It can be grown in a wide range of soils

        Well drained light to medium textured soils are preferable.

        Optimum pH range is 5.5 - 8.0
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Plough2-4 times and break the clods to prepare the soil into a fine tilth.

        Then, broadcast seeds evenly.

        For easy seeding, evenly distributed seed is mixed with either sand or dry soil.

        The ratio of well seized farm yard manure is 1:20.

        To cover the seed in the soil use harrow, followed by wooden plank.


        <br>
    </p>



</body>

</html>