<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Soyabean</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/soyabean.jpeg" style="height:200px;" alt="Card image">

    <p>
        Soybean called as golden beans is belongs to legume family. It is native of East Asia. It is a rich source of
        Protein also excellent source of fibre. Oil extracted from soybean contain small amount of saturated fat. In
        Punjab, it plays an important role in crop diversification.


    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Soyabean needs about 15 to 320C temperature for germination but for rapid growth the crop needs higher
        temperature. The crop requires about 60-65 cm annual rainfall drought at flowering or just before flowering
        results in flower and pod drops, while rains during maturity impairs the grain quality of soyabean. harmful. The
        best soil type is sandy loam having good organic matter content.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        And loamy well drained fertile soil is good for growing soybean. Land preparation for soybean should be done by
        proper ploughing followed by laddering.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        Prepared field by giving two to three ploughings followed by planking.


        <br>
    </p>
<a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/soybean.pdf" target="_onblank"<p>Crop Yeild Growth Handbook</p></a> 




</body>

</html>