<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Sweet Potato</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/sweetpotato.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Harvesting</h2>

    <p>
        The crops get mature after 120 days of planting. Harvesting is mainly done when tubers get mature and the leaves
        turn yellow. Harvesting is done by digging tubers. It gives an average yield of 100 qtl/acre. Freshly harvested
        tubers are ready for market purposes.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        It is grown in variety of soil types ranging from sandy to loamy soil, but it gives best result when grown under
        sandy loam soil having high fertility and good drainage system. Avoid cultivation of sweet potato in very light
        sandy and heavy clayey soil as it is not good for tuber development. It requires pH ranging from 5.8-6.7 is best
        for sweet potato cultivation.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        For sweet potato plantation, the land should be well prepared. To bring the soil to the fine tilth, before
        sowing land must be ploughed 3-4 times followed by planking’s. The field should be weed-free.
        <br>
    </p>


    <h2 style="color:MediumSeaGreen;">Irrigation</h2>
    <p>
        After planting, irrigation is given once in 2 days for period of 10 days and thereafter irrigation is given once
        in 7-10 days. Irrigation must be stopped before 3 weeks of harvesting. But before 2 days of harvesting one
        irrigation is necessary.
    </p>



</body>

</html>