<!DOCTYPE html>
<html>

<body>
  <div id="google_translate_element_id"></div>

  <header>
    <h1 style="color:DodgerBlue;">Tapioca</h1>
  </header>

  <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

  <img class="card-img-top" src="/media/accounts/images/tapico.jpeg" style="height:200px;" alt="Card image">

  <h2 style="color:MediumSeaGreen;">Climate and Soil</h2>

  <p>
    Any well drained soil preferably red lateritic loam with a pH range of 5.5 -7.0 is best suited for tapioca
    cultivation. It thrives best in tropical, warm humid climate with well distributed rainfall of over 100 cm per
    annum. This crop can be cultivated upto an elevation of 1000 m.

    <br>
    <br>
  </p>

  <h2 style="color:MediumSeaGreen;">Season and planting</h2>

  <p>

    Plant throughout the year under irrigation. Plant during April for rainfed crop. Select healthy mosaic free vigorous
    plants for taking planting materials. Prepare setts of 15 cm long with 8 – 10 nodes from the middle portion of the
    stem. Avoid mechanical damage while preparation and handling of setts. The cut end should be uniform. Dip the setts
    in Carbendazim 1 g in one l of water for 15 minutes before planting. Plant the setts vertically with buds pointing
    upward on the sides of ridges and furrows. 17,000 setts are needed for planting one ha. For rainfed conditions,
    treat the setts with a mixture of potassium chloride @ 5 g/lit and micronutrients viz., ZnSO4 and FeSO4 each @
    0.5%for 20 minutes.Dip the setts for 20 minutes in Azospirillum and phosphobacteria each at 30 g/l.
  </p>


  <h2 style="color:MediumSeaGreen;"> Preparation of field</h2>

  <p>

    Plough the field 4 – 5 times to get a fine tilth. The soil depth should be atleast 30 cm and form ridges and furrows
    at the following spacing.
    <br>
  </p>


  <h2 style="color:MediumSeaGreen;"> Planting</h2>
  <p>
    Plant the setts vertically with buds pointing upward on the sides of ridges and furrows at following spacings.
    Irrigated: 75 x 75 cm (17,777 setts) and 90 x 90 cm (12,345 setts)
    Rainfed: 60 x 60 cm (27,777 setts)
    Under Kanyakumari conditions: 90 x 90 cm (12,345 setts)
    <br>
  </p>



</body>

</html>