<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Tomato</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/tomatoes.jpeg" style="height:200px;" alt="Card image">

    <p>
        Tomato (Lycopersicon esculentum) is an annual or short lived perennial pubescent herb and greyish green curled
        uneven pinnate leaves. The flowers are off white bearing fruits which are red or yellow in colour. It is a self
        pollinated crop.


    </p>

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        Tomato is a warm season crop. The best fruit colour and quality is obtained at a temperature range of 21-24°C.
        Temperatures above 32o C adversely affects the fruit set and development. The plants cannot withstand frost and
        high humidity. It requires a low to medium rainfall. Bright sunshine at the time of fruit set helps to develop
        dark red coloured fruits. Temperature below 10 oC adversely affects plant tissues thereby slowing down
        physiological activities.


        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        Tomato can be grown on a wide range of soils from sandy to heavy clay. However, well-drained, sandy or red loam
        soils rich in organic matter with a pH range of 6.0-7.0 are considered as ideal.


    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        The field is ploughed to fine tilth by giving four to five ploughing with a sufficient interval between two
        ploughing. Planking should be done for proper levelling. Furrows are then opened at the recommended spacing.
        Well-decomposed FYM (25 t/ha) is thoroughly incorporated at the time of land preparation.


        <br>
    </p>



</body>

</html>