<!DOCTYPE html>
<html>

<body>
    <div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

    <header>
        <h1 style="color:DodgerBlue;">Urad</h1>
    </header>

    <!-- <img src="/media/accounts/onion.jpeg" alt="image" width="400" height="300">  -->

    <img class="card-img-top" src="/media/accounts/images/uraddal.jpeg" style="height:200px;" alt="Card image">

    <h2 style="color:MediumSeaGreen;">Climate</h2>

    <p>
        1. It is generally grown in kharif/rainy and summer season.
        2. It grows best in hot and humid condition with ideal temperature range between 25 to 35oC.
        3. It can be grown successfully from sea level up to an elevation of 1800 meters.
        4. Heavy rains during flowering are harmful.
        5. It is best suited to areas having an annual rainfall of 60 to 75 cm.
        <br>
        <br>
    </p>

    <h2 style="color:MediumSeaGreen;">Soil</h2>

    <p>
        1. Black gram does well on heavier soils such as black cotton soils which retain moisture better.
        2. It can be grown all types of soils ranging from sandy loam to heavy clay, except the alkaline and saline
        soils.
        3. Loam or slightly heavy soils with neutral pH are best suited for urdbean.
        4. Soil should be will drained and having good water holding capacity.
        5. Waterlogged, saline and alkaline soil should be avoided.
    </p>


    <h2 style="color:MediumSeaGreen;">Land preparation</h2>

    <p>

        1. Good land preparations are necessary for better yield of black gram.
        2. Land should be ploughed in summer followed by two to three harrowing at pre-monsoon for kharif season.
        3. For summer black gram, after harvest of rabi crops, field prepare with criss-cross moghda once followed by
        two harrowing
        4. Land should be well leveled.
        5. Collect the weeds, previous crops stubbles, stones and clean the field for sowing.
        6. Mix five to six tons of FYM or compost at last harvesting.
        7. If necessary, one pre-sowing irrigation should be given.
        <br>
    </p>
<br>
<a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/udid.pdf" target="_onblank"<p>Crop Yeild Growth Handbook</p></a> 


</body>

</html>