<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div id="google_translate_element_id"></div>


  <header>
    <h1 style="color:DodgerBlue;">VARAGU</h1>
  </header>

  <img class="card-img-top" src="/media/accounts/images/varagu.jpeg" style="height:200px;" alt="Card image">


  <p>Kodo Millet is largely grown in the states of Madhya Pradesh, Chattisgarh, Maharashtra, Tamilnadu and Karnataka. It
    is also cultivated in the Jhum field of Arunachal Pradesh.</p>

  <h2 style="color:MediumSeaGreen;">
    Season</h2>
  <p>Sowing with onset of monsoon is beneficial. The sowing season is generally middle of June to end of July in
    different states. In Madhya Pradesh and Chattisgarh, last week of June to first week of July is the time for sowing.
  </p>
  <h2 style="color:MediumSeaGreen;">Climate</h2>
  <p>Generally the Millets are grown in tropical as well as sub-tropical upto an altitude of 2,100m. It is a heat loving
    plant. It is grown where rainfall ranges from 500-900mm. Kodo Millet has a heavy water requirement which grows well
    in moderate rainfall of 50-60cm.</p>
  <h2 style="color:MediumSeaGreen;">
    Soil</h2>
  <p>It has wide adaptability to different soil from very poor to very fertile and can tolerate a certain degree of
    alkalinity. <br>The best soils are alluvial, loamy and sandy soil with good drainage. Kodo millet can be grown in
    gravelly and stony soil such as in the hilly region.</p>
  <h2 style="color:MediumSeaGreen;">Field preparation</h2>
  <p>The first ploughing should be done deep with a soil turning plough at the onset of monsoon. Fine tilth is
    imperative for proper germination and crop establishment.</p>

  <h2 style="color:MediumSeaGreen;">Varieties</h2>
  <p>
    •Madhya Pradesh - RK - 65 - 18,JK 439, RBK 155, JK 13, JK 65 and JK 48, JK 137, RK 390- 25, JK 106, GPUK 3<br>
    •Tamil Nadu  - KMV 20 (Bamban), CO 3, TNAU 86, GPUK 3<br>
    •Gujarat - GK 1 and GK 2, GPUK 3<br>
    •Chattisgarh - RBK 155 and JK 43 9, Indira Kodo - 1, Indira Kodo - 48, GPUK 3<br>
    •Karnataka - GPUK 3, RBK 155<br>
    •VL-124, VL-149, mostly developed for the hill states of the country.</p>

  <h2 style="color:MediumSeaGreen;">Spacing</h2>
  20-25cm row-to-row, 8-10cm plant-to-plant
  <h2 style="color:MediumSeaGreen;">Seed Rate</h2>
  <p>
    10 kg per for line sowing; 15 kg per ha for broadcasting.
    Seed Treatment
    The seed should be treated with Agrosan G.N. or Thiram @ 2.5g/Kg of seed.
    Treating seeds with Azospirullum brasilense (nitrogen fixing bacterium) and Aspergillus awamouri (phosphate
    solubalizing fungus) @ 25 g kg -1 is beneficial.</p>
  <h2 style="color:MediumSeaGreen;">Method of sowing</h2>
  <p>Line sowing at 3-4cm deep.</p>

  <h2 style="color:MediumSeaGreen;">
    Transplanted crop</h2>
  <p>Seed should be sown in well prepared nursery beds during the month of May-July about 4 Kg of seed will give enough
    seedlings to transplant 1 ha of land. 3 to 4 week old seedlings should be transplanted two seedlings per hill at a
    distance of 25X8 cm or transplanted 2-3cm deep.</p>
  <h2 style="color:MediumSeaGreen;">
    Manures and Fertilizers</h2>
  <p>FYM-5 to 10 tonnes/ha. FYM should be applied one month before sowing.<br>
    Tamil nadu, Madhya Pradesh and Chattisgarh : 40 kg N and 20 kg P / ha<br>
    Other states : 20 kg each NPK / ha<br>
    NE states : 60:30:30 NPK / ha</p>
  <h2 style="color:MediumSeaGreen;">
    Cropping System</h2>
  <p>In hilly areas it is grown mixed with Soybean.
    Madhya Pradesh: Kodo millet + Pigeon pea (2:1 ratio); Kodo millet + Green gram/black gram (2:1 ratio); Kodo millet +
    Soybean (2:1 ratio).</p>

  <h2 style="color:MediumSeaGreen;">Weed Control</h2>
  <p>The inter-cultivation and weeding should be done with hand hoe, three hoeing would be sufficient to control the
    weeds in problem areas.</p>
</body>

</html>