<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<div id="google_translate_element_id"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>


	<header>
		<h1 style="color:DodgerBlue;">WHEAT</h1>
	</header>

	<img class="card-img-top" src="/media/accounts/images/wheat.jpeg" style="height:200px;" alt="Card image">

	<p>
		Under the botanical classification wheat crop belongs to genus Triticum. There are many species of this
		particular genus that is used for cultivation such as Triticum sativum, Triticum polonicum, Triticum monococcum,
		etc. However, Triticum sativum is the most cultivated wheat variety. The different cultivated varieties of wheat
		species are distinguished from each other by the number of flowers that are produced.</p>

	<h2 style="color:MediumSeaGreen;">
		Ideal Conditions for Wheat Cultivation in India</h2>
	<h2 style="color:MediumSeaGreen;">Climate for Wheat Farming in India</h2>
	<p>
		Wheat is a widely adaptable crop that can be grown in climates ranging from temperate to tropical and cold
		northern parts. In addition it can be cultivated anywhere from land on sea level to an altitude of up to 3300
		meters. Places with a cool, moist weather for most part of the year followed by a short, dry and warm spell is
		most suited for wheat cultivation. This type of weather condition permits appropriate maturing and ripening of
		grains. However, areas with heavy rainfall, moist and warm climate are not suited for commercial wheat
		farming.<br>
		Similarly, drought-like conditions, extremely low or high temperatures during the flowering stage would affect
		the wheat crop. During high temperature, a lot of energy is lost owing to transpiration. Hence, there is very
		little residual energy left within the crop resulting in low yields. High humidity and low temperature is likely
		to induce rust attack on the crops.</p>

	<h2 style="color:MediumSeaGreen;">Season for Wheat Cultivation in India</h2>
	<p>Wheat, in India, is best grown as a rabi or winter season crop since the conditions during that time are
		conducive for growth and ensures maximum yield. Since wheat is capable of tolerating severe cold it resumes
		growth in summer after being dormant in winter.</p>

	<h2 style="color:MediumSeaGreen;">Soil for Wheat Cultivation</h2>
	<p>Wheat needs soil with a moderate amount of water holding capacity. Being very sensitive to water logging, heavy
		soils with poor drainage capacity is not preferred for wheat cultivation. Generally, black cotton soil with good
		drainage capacity and a neutral pH is preferred for cultivation.
		<br> If wheat is grown as a dry crop heavy soil with a good drainage capacity is preferred. On the contrary,
		soil with moderate drainage capacity is preferred for wheat as irrigated crop. The soil used for wheat
		cultivation must be free from coarse sand, gravel, stones, have a uniform texture and should be deep. It must be
		soft enough to permit deeper root penetration.
	</p>

	<h2 style="color:MediumSeaGreen;">Water Requirement</h2>
	<p>Wheat requires 450-650mm of water. Maximum amount of watering is needed during the flowering and heading stage
		while ripening requires very little water. If cultivated as an irrigated crop, flood irrigation is done once in
		every 10 days. However, if cultivation is done on black soil, then the irrigation is done once in every 15 days
		since the soil has a higher amount of water holding capacity.</p>

	<h2 style="color:MediumSeaGreen;">Land Preparation</h2>
	<p>One of the primary requirements of wheat cultivation is that the soil must be free of clods, stones, sand and
		gravel. Hence, the land must be ploughed at least 3 times during summer before cultivation. The residual crop
		debris can be burnt in the field itself. Following this the land must be harrowed again during the rainy season
		to prevent growth of wild plants and weeds. After this heavy harrowing, a light harrowing is done wherein the
		rots and stubble are removed. This step is conducted immediately before sowing.<br>
		However, in case of irrigated crop, the land is not ploughed as many times. Irrigation is done before sowing so
		that there is adequate amount of moisture when sowing is done. In cases where there are problems of white ants
		and pests, 10% BHC or 5% Aldrin is dusted on the soil at the rate of 12 Kg per acre. This is done generally
		before the last round of ploughing.
		In irrigated form of cultivation, the land is manured well and then re-ploughed.
	</p>

	<h2 style="color:MediumSeaGreen;">Sowing</h2>
	<p>Before sowing, the seeds are treated with 5 gram Trichoderma spores or 5 Kg carbendazim for every 1 Kg seed.
		Wheat seeds are also given solar treatment so as to avoid diseases like wheat smut on the crop. There should be
		a space of 15- 20 cm maintained between the seeds. In case of late sowing the seeds must be soaked overnight in
		water. Shallow sowing must be done and it should be covered with a thin layer of farm yard manure.</p>

	<h2 style="color:MediumSeaGreen;">Irrigation</h2>
	<p>Flood irrigation is the most common type of irrigation followed. Although irrigation is needed only once in every
		10 days, it is done only once in every 15 days in case black soil is used for cultivation. On an average about
		6-7 irrigation cycles are needed for wheat since they are ready for harvest within 120 days. In other words,
		irrigation is provided at the most crucial stages like:<br>
	<ul>
		<li>Crown root initiation</li>
		<li>Leaf growth development (tillering)</li>
		<li>Jointing Stage which is the most critical stage as it provides evidence that plants have initiated the
			reproductive phase</li>
		<li>Flowering stage</li>
		<li>Ripening stage</li>
		<li>Maturity stage</li>
	</ul>
	</p>


	<h2 style="color:MediumSeaGreen;">Diseases and Plant Protection in Wheat Cultivation</h2>
	<p>Major diseases affecting wheat crop are powdery mildew, smut, stem rust, foliar blights, bunts and molya. They
		can be taken care of by:
	<ul>
		<li>Following a timely sowing cycle</li>
		<li>Solar treatment of seeds before sowing</li>
		<li>Using resistant varieties</li>
		<li>Uprooting the affected plant and burning it</li>

	</ul>
	Sulphur, Vivatax, Zinc, Manganese, Agrasen are the chemicals used for treatment</p>




	<h2 style="color:MediumSeaGreen;">Harvesting and Curing Wheat</h2>


	<p>When the kernels of wheat plant become hard and the plant turns straw-colored, it is time for harvesting the
		crop. Harvesting is usually done manually with a sickle although for vast areas, machines maybe used. The crop
		is then threshed using thresher or treading with cattle.</p>
	<h2 style="color:MediumSeaGreen;">Storage of Wheat Crop</h2>
	<p>s
		Once threshing is done, the grains must be dried thoroughly so as to remove all the moisture content. The godown
		wherein the grains are stored must be fumigated properly. It must be ensured that the storage places are
		completely moisture free.</p>

<video width="320" height="240" controls>
 
   
  <source src="/static/accounts/StoreisWheat2.mp4" type="video/mp4">
  <source src="/static/accounts/StoreisWheat2.ogg" type="video/ogg">
  
Your browser does not support the video tag.
</video>


</body>

</html>