{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Text Handwriting Conversion</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="text" id="text">
            <input type="submit" name="submit">
        </form>
        <form method="post" action="/index/2" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type="text" name="text" id="text"> -->
            <input type="submit" name="submit">
            {{ form }}
        </form>
        <form method="post" action="/index/3" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type="text" name="text" id="text"> -->
            {{ form }}
            <input type="submit" name="submit">
            
        </form>
        {% if image %}
            <img src="{% static 'images/demo_live_sub_3.svg' %}" alt="logo" style="width: 100%;">
            <a href="{% static 'images/demo_live_sub_3.svg' %}" download>Download Link</a>
            <!-- <img src="{% static 'Text-Handwriting-Conversion/img/demo_live_sub_3.svg' %}" alt="logo" style="width: 100%;"> -->
        {% endif %}
        {% if res %}
            <p>{{res}}</p>
        {% endif %}
    </body>
</html>