<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	Dr. Babasaheb Ambedkar Krishi Swavalamban Yojana</h1></header>
<p>To create sustainable irrigation facilities for Scheduled Caste / Neo-Buddhist farmers in the State.</p>


<h2 style="color:MediumSeaGreen;">Beneficiary Eligibility - </h2>

<p>

    1.   It is mandatory for the beneficiary to be from Scheduled Caste / Neo -Buddhist  category.
    <br>2.  The annual   income of the farmer by all means should not exceed Rs.150,000 / -.
    <br>3.  Farmers should have a minimum area of ​​0.40 hectare in order to take advantage of the new well
    <br>4. If there is an actual well on the beneficiary  's 7/12 as well as in the field, the new well cannot be availed.
    <br>5.There should be no other well within 500 feet of the new well.

<h2 style="color:MediumSeaGreen;">Grants to farmers belonging to Scheduled Castes / Neo-Buddhist category -  </h2>

<p>

    1.   New Well -   Rs.250,000 / -s.
    <br>2.  Repair of old well -  Rs. 50,000 / -akhs
    <br>3.   Inwell boring - Rs.20000/-    
    <br>4.Micro Irrigation Set - Drip Irrigation Set Rs. 50,000 / -,  Sprinkler Irrigation Set - Rs. 25,000 / -
    <br>5. Pump set (Diesel / Electricity) - Rs.20000 / -











<h2 style="color:MediumSeaGreen;">Documents Required</h2>

<p>
    1.  7/12 excerpt or 8 a. (Original copy)
    <br>2. 8 a
    <br>3.  Aadhar Card
    <br>4.  Incident Punchnama (Self attested copy)
    <br>5. Proof of income from Tehsildar.
    <br>6.  In case of new wells, proof of availability of water from ground water survey and development system is required.
    <br>7.   Caste certificate.
<br></p>

<h2 style="color:MediumSeaGreen;">How to apply:</h2>
<p>   1.Application should be made online at www.agriwell.mahaonline.gov.in . 
    <br>2. Generally available for a period of one month in August / September each year


<br></p>

    

</body>
</html>
