<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	Gopinath Munde Farmers Accident Insurance Scheme.</h1></header>
<p>Accidents while doing business, lightning strikes, floods, snake bites, scorpion bites, electric shocks etc. Accidents due to natural calamities, road accidents, vehicle accidents, etc. Accidents involving the doer of the house as well as his family members shut down the family's source of income and created a difficult situation. The scheme has been started to provide financial benefits to such accident affected farmers / their families. </p>



<h2 style="color:MediumSeaGreen;"> Amount of Compensation -:  </h2>

<p>

    1.  Accidental death - Rs. 2 lakhs.
    <br>2.  Accident caused by two eyes or two arms or two legs as well as one eye and one arm Or one leg failure - Rs. 2 lakhs
    <br>3.  Loss of 1 eye or 1 arm or one leg due to accident - Rs. 1 lakh.    
    <br>4. Farmers who have been cultivating the land under the Lease Agreement for the last seven years will also be able to take advantage of the PM Krishi Irrigation Scheme.
    <br>5. Only citizens (farmer brothers) residing in India are eligible to take advantage of this Prime Minister Agricultural Irrigation Scheme.

<h2 style="color:MediumSeaGreen;">Eligibility Criteria</h2>

<p>

According to the revenue records in the age group of 10 to 75 years in the State of Maharashtra, the farmer who is the account holder on the date of application of the insurance policy and any member of his family who is not registered as the account holder (mother, father, farmer's spouse, son and unmarried daughter, daughter-in-law, other legal heirs) Any one of these persons) a total of two persons in the age group of 10 to 75 years.  
 


<br>
<br>
</p>










<h2 style="color:MediumSeaGreen;">Documents Required</h2>

<p>
    1.  7/12 excerpt or 8 a. (Original copy)
    <br>2.  Death certificate (self attested copy)
    <br>3.First information report or police patil report for electric shock accident, lightning death, drowning death, falling from a height , snake bite / scorpion bite and any other accident.
    <br>4.  Incident Punchnama (Self attested copy)
    <br>5.Birth Certificate or School Leaving Certificate or Certificate of  Headmaster of the school / Certificate of Gram Panchayat or  Passport for verification of age.
    <br>6.  Ration card of account holder farmer family (Certified by Gazetted Officer)
    <br>7.  Ration card of account holder farmer family (Certified by Gazetted Officer)
<br></p>

<h2 style="color:MediumSeaGreen;">How to apply:</h2>
<p>   1. In the office of Taluka Agriculture Officer. 
    <br>2. The date of receipt / receipt in the office of the Taluka Agriculture Officer along with the prescribed documents along with the pre-notification application in respect of the insurance claim shall be deemed to have been received by the insurance company on the same date.
    <br>3.Insurance Company: - Universal Sompo General Insurance Company Ltd. 

Toll free number- 1800 22 4030

ई-मेल-contactus@universalsompo.com   
<br></p>

    

</body>
</html>
