<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	Care to be taken while spraying pesticides</h1></header>





<h2 style="color:MediumSeaGreen;">Care to be taken while using pesticides and herbicides in the field </h2>
<p> 1.Farmers spray various chemicals to control pests, diseases or weeds in the field. There are three main risks involved in spraying these chemicals.
<br>2Extremely fine particles of chemical drugs enter the body through the airways.
<br>3 While spraying, they enter the body through skin contact and through eyes.
<br>4 While spraying, they can inadvertently enter the body while eating or drinking beedi.
</p>


<h2 style="color:MediumSeaGreen;">Symptoms and remedies for poisoning</h2>
<p> 1.Poisoning occurs when pesticides / herbicides come in contact with or ingest them.
<br>2Symptoms of poisoning and other illnesses can often be similar.

</p>

<h2 style="color:MediumSeaGreen;">Symptoms of poisoning </h2>
<p> 1Weakness and dizziness.
<br>2Skin irritation, blemishes, sweating.
<br>3 Eye irritation, watery eyes, blurred vision
<br>4 Headache, malaise, muscle aches, tongue twitching, fainting, shortness of breath, chest pain, coughing.
</p>

<h2 style="color:MediumSeaGreen;">First aid to be given immediately after poisoning</h2>
<p> 1If pesticides / herbicides get in the eyes, immediately rinse the eyes with clean water for 5 minutes.
<br>2If it is blown on the body, wash it with soap for 10 minutes and take it to the hospital.
<br>3 After poisoning, the patient should be induced to vomit only if he is completely cleansed, otherwise he should not do so.
<br>4 If poisonous drug is spilled on the clothes, change the clothes immediately and take the patient to the hospital as soon as possible.
</p>


<h2 style="color:MediumSeaGreen;">Do and don't do</h2>
<p> 1 Pesticides should be applied as recommended in the crop protection schedule of the Department of Agriculture.
<br>2 Insects like aphids, tudtuds stay on the back side of the leaves and absorb leaf sap and cause severe damage to the crop. It is especially important to spray the back of the leaf when using tactile pesticides to control this pest. In order to control brown spores on paddy, it is necessary to spray pesticides, especially on the paddy stalks where the stalks are absorbed. Spraying on other areas will not be effective, and in case of sorghum mites, it is necessary to treat only th
<br>3 Dusting should be done in the morning or evening when the wind is calm.
<br>4 It takes some time after spraying to see the effect of pesticides. Then the expected result is seen. Similarly, some insects produce more than one generation during the growing season. To control this, 2 to 3 sprays of pesticides should be applied at intervals of 10 to 15 days.
</p>






</body>
</html>
