<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	Pradhan Mantri Fasal Bima Yojana (PMFBY) </h1></header>



<h2 style="color:MediumSeaGreen;">Eligibility Criteria</h2>

<p>

    1. Compulsory Component
    All farmers availing Seasonal Agricultural Operations (SAO) loans from Financial Institutions (i.e. loanee farmers) for the notified crop(s) would be covered compulsorily.
    <br>2. Voluntary Component
    The Scheme would be optional for the non-loanee farmers.


<br>
<br>
</p>

<h2 style="color:MediumSeaGreen;">Benefits</h2>

<p>
Pradhan Mantri Fasal Bima Yojana (PMFBY) aims at covering the losses suffered by farmers due to reduction in crop yield as estimated by the local appropriate government authorities. The scheme also covers pre sowing losses, post-harvest losses due to cyclonic rains and losses due to unseasonal rainfall in India.

<br>
<br>
</p>

<h2 style="color:MediumSeaGreen;">Coverage of risks and exclusion </h2>
<p>  Following stages of the crop and risks leading to crop loss are covered under the scheme.<br>

    1. Prevented Sowing/ Planting Risk:
    <br>Insured area is prevented from sowing/ planting due to deficit rainfall or adverse seasonal conditions
    <br>2. Standing Crop (Sowing to Harvesting):
    <br>Comprehensive risk insurance is provided to cover yield losses due to non- preventable risks, viz. Drought, Dry spells, Flood, Inundation, Pests and Diseases, Landslides, Natural Fire and Lightening, Storm, Hailstorm, Cyclone, Typhoon, Tempest, Hurricane and Tornado.
    <br>3. Post-Harvest Losses:
    <br>coverage is available only up to a maximum period of two weeks from harvesting for those crops which are allowed to dry in cut and spread condition in the field after harvesting against specific perils of cyclone and cyclonic rains and unseasonal rains.
    <br>4. Localized Calamities:
    <br>Loss/ damage resulting from occurrence of identified localized risks of hailstorm, landslide, and Inundation affecting isolated farms in the notified area.

<br><br>General Exclusions: Losses arising out of war and nuclear risks, malicious damage and other preventable risks shall be excluded. <br></p>




<h2 style="color:MediumSeaGreen;">Important points to keep in mind</h2>
<p>

    1. PMFBY covers the losses incurred within 14 days of harvesting.

    <br>2. It will be beneficial only in the event of loss due to natural disaster.

    <br>3. In case of crop loss, immediately inform your bank.
 <br></p>



<h2 style="color:MediumSeaGreen;">How to apply </h2>
<p>     1. Visit PMFBY Website
    <br>2. Click on ‘Farmer Corner’
    <br>3. If you are already registered, you can proceed to get enrolled under the scheme. However, new farmers will have to register themselves by filling the registration form.  <br></p>




<h2 style="color:MediumSeaGreen;">Documents Required</h2>

<p>

     Identity proof of the farmer such as PAN card, driving license, voter ID card, passport, Aadhaar card.

    <br>Address proof like driving license, voter ID card, passport or Aadhaar card

    <br>Photo copy of field Khasra number / account number is required.

    <b>You have to provide proof of sowing of crop in the field.

    <br>A cancelled cheque is required along with all the papers.

<br></p>


    

</body>
</html>
