<!DOCTYPE html>
<html lang="en">
<head>
  <title>Soil Labratories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#d6f8d6;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
					<header><h1 style="color:DodgerBlue;">Soil Testing Labratories</h1></header>
           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>A.Kr.</th>
        <th>Name</th>
        <th>download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Soil Testing Laboratory</td>
         <td>
    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Soil%20Testing%20Laboratory.pdf" target="_blank">
      Link
    </a>
  </td>
      </tr>
      <tr>
        <td>2</td>
        <td>List of permanent soil laboratories</td>
        <td>
    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/List_of_Registered_Soil_Testing_Lab__Static.pdf" target="_blank">
      Link
    </a>
  </td>
      </tr>
      <tr>
        <td>3 </td>
        <td>Mobile Soil Laboratory List</td>
        <td>
    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/List_of_Registered_Soil_Testing_Lab_Mobile.pdf" target="_blank">
      Link
    </a>
  </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
