<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	Small earthen dams</h1></header>




<p>
Planning Department Govt. Decision No. Rohyo 2004 / No. 213 / Rohyo-6 / As per January 7, 2005, the government has approved to implement soil conservation as an effective treatment under the watershed development program on the private lands of the farmers under ROHYO. In this, the dam of the area under the river is closed.
<br>
</p>
<h2 style="color:MediumSeaGreen;">Purpose: </h2>
<p> 1.The speed of water flowing through the stream is reduced by placing horizontal earthen dams on the stream.d.
<br>2The water is stopped and squeezed into the soil
<br>3 Water prevents soil erosion.
<br>4 Shrubs are made by planting shrubs under the dam.
</p>

</p>
<h2 style="color:MediumSeaGreen;">Area Selection Criteria: - </h2>
<p> 1.The catchment area on the Ardan dam in the stream is 10 ha. Should be less than
<br>2The location of the Ardan Dam is determined by the AL sections drawn from the watershed.
<br>3The location of the dam should not be fixed on the open rock at the bottom of the nallah.
<br>4Dams should be constructed where soil is available for soil work.
</p>



<hr>

<header><h1 style="color:DodgerBlue;">	Cement drain dam</h1></header>





<h2 style="color:MediumSeaGreen;">Purpose: </h2>
<p> 1Flood control and flood control.
<br>2To increase the area under irrigation.
<br>3 Increasing the water level of wells in the catchment area of ​​the dam.
<br>4 Provide protected water to crops
</p>
<h2 style="color:MediumSeaGreen;">Area Selection Criteria: - </h2>
<p> 1.Soil erosion prevention.
<br>2.The slope of the bottom of the nallah should not exceed 3%.
<br>3 In the area where the dam is to be constructed, a place should be chosen where the bottom of the nallah is covered with water up to half the height of the reservoir (1/2) of solid rock (up to a depth of 1.20 m). However at some point for some special reason the base is 1.20 m below. If more is required, a separate concept for this should be prepared by the Superintending Engineer (Stone Dam), Central Sankalpachitra Sanghatana, Nashik.
<br>4 Selection should be made for the construction of a site where the adjacent land will not be clogged due to cement drainage. Due to construction of cement nala dam, care should be taken that flood water will not flow out of the nala bank.
</p>

<p> Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Cement_nala_bunds.jpg" width="400" height="300">
<hr>
<header><h1 style="color:DodgerBlue;">	Turn dam</h1></header>





    
    

<h2 style="color:MediumSeaGreen;">Purpose: </h2>
<p> 1. To provide protected water to the crops by diverting the water flowing from the nala to the field by flood according to the farming conditions. Increase in irrigated area and alternatively increase in irrigated area.

</p>


<h2 style="color:MediumSeaGreen;">Location selection: </h2>
<p> 1. Nallas which have a minimum flow of 150 liters / second till November / December are selected.
<br>2.The bottom of the nala should be on the rock opening.
<br>3.Nala width 30 m. Should not exceed
<br>4Nala depth 3 m. Should not exceed
</p>
<p> Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Diversion_bund.jpg" width="400" height="300">

<hr>
<header><h1 style="color:DodgerBlue;">	Underground dam</h1></header>






<h2 style="color:MediumSeaGreen;">Purpose: </h2>
<p> 1Surface water storage by creating an impenetrable barrier to groundwater runoff.
<br>2.Raising the groundwater level.
<br>3.Blocking the flow of groundwater and storing it and recharging the reservoirs in the area of ​​influence of the wells.

</p>

<h2 style="color:MediumSeaGreen;">Location selection: </h2>
<p> 1. The catchment area of ​​the nallah should be in the shape of a closed drone, i.e. the water source in the catchment area of ​​the nallah should be flowing towards the bank of the nallah from both the sides of the nallah.
<br>2.The slope of the nala container should generally not exceed 3%.
<br>3.Small or medium sized with a width of 30 to 50 m. Select nallas.
<br>4.Choose a place where there is sand at the bottom of the drain. (Sand more than 1 m deep)
</p>


<hr>
<header><h1 style="color:DodgerBlue;">	Unbroken stone dams</h1></header>





<h2 style="color:MediumSeaGreen;">Purpose: </h2>
<p> 1. To reduce the velocity of rain water flowing fast through the stream by placing a coarse stone dam on the stream.
<br>2Prevention of soil erosion
<br>3.Squeeze water into the soil.
</p>
<h2 style="color:MediumSeaGreen;">Location selection: </h2>
<p> 1. Watershed area is 5 ha for small rock embankment in the stream. Watershed area up to 5-10 ha. Is up to.
<br>2The place of embankment should not be fixed on the open rock in the bottom of the nala.
<br>3About 1 km from the dam. I The dam is built in a place where stones are available in the radius.
.
</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/loose_borders_1.jpg" width="400" height="300">









    

</body>
</html>
