<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	compartment bunding</h1></header>




<p>
Planning Department Govt. Decision No. Rohyo 2004 / No. 213 / Rohyo-6 / As per January 7, 2005, the government has approved to implement soil conservation as an effective treatment under the watershed development program on the private lands of the farmers under ROHYO. In this, the dam of the area under the river is closed.
<br>
</p>
<h2 style="color:MediumSeaGreen;">Area Selection Criteria: - </h2>
<p> 1.This treatment is carried out as a regular treatment of watershed.
<br>2The scheme is implemented in both non-construction and non-construction areas.
<br>3 Annual average rainfall is 750 mm. The scheme is implemented with priority in the area up to.
<br>4 The scheme is implemented only on areas up to 4% slope.
</p>

<p> The dimensions required for the construction of each mule during actual work should be taken from the height of the mule. 0.15 m in any case. Do not dig more than. When digging, care should be taken to ensure that the mulch comes or stays in the surface. Care should be taken to ensure that the hole of the dam to be repaired is uniform everywhere.</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Compartment_buinding_2.jpg" width="400" height="300">

<hr>

<header><h1 style="color:DodgerBlue;">	Dam repair of old paddy huts</h1></header>




<p>
In Western Maharashtra, Konkan and Vidarbha region, large scale work has been done for many years. Also, a large area of ​​paddy has come under private cultivation. However, due to continuous heavy rains and other factors in the state, it is seen that the dam of paddy mulch and the mulch of paddy mulch have been damaged. The dam is a very important part of the paddy field. Due to partial or complete rupture of the dam, collapse, etc., water is not stored or blocked at full capacity in Khachra and it is found to affect the yield of paddy crop. In fact, due to the eruption of the dam, the area previously cultivated is being converted into a fallow area. </p>
<br>
<br>
</p>
<h2 style="color:MediumSeaGreen;">Area Selection Criteria: - </h2>
<p> 1.In the area selected for this group / work, the work of majgi / bhat khachar should have been done by the department or privately.
<br>2.The rice crop must be recorded on seven or twelve slopes.
<br>3 At least 50 per cent of the embankment should be sun-drenched, i.e. the embankment should be 0.40 sq.m. Should be less than
<br>4 Consent of farmers should be sought for such work as per rules.
</p>

<p> The dimensions required for the construction of each mule during actual work should be taken from the height of the mule. 0.15 m in any case. Do not dig more than. When digging, care should be taken to ensure that the mulch comes or stays in the surface. Care should be taken to ensure that the hole of the dam to be repaired is uniform everywhere.</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Paddy_Bunding_1.jpg" width="400" height="300">
<hr>
<header><h1 style="color:DodgerBlue;">	मजगी</h1></header>




<p>
पायऱ्यांची मजगी जमिनीच्या उतारास आडवे कंटुर व टप्प्या टप्प्यांची किंवा पायऱ्यांसारखी अर्धा भाग खोदून व अर्धा भाग भरुन तयार केलेली शेते होय. ज्या ठिकाणी मातीची खोली पुरेशी आहे व पाण्याची सोय उपलब्ध आहे अशा उताराचे मजगीत रुपांतर केले जाते. <br> महाराष्ट्रात अति पावसाच्या प्रदेशात डोंगर उतारावर भात खाचरे तयार करुन भात पिकाखाली जमिन आणण्यात येते.
    
    
<br>
<br>
</p>
<h2 style="color:MediumSeaGreen;">जागा निवडीचे निकष </h2>
<p> 1. त्या भागाचे वार्षिक पर्जन्यमान 1000 मि.मी. पेक्षा जास्त असावे.
<br>2.जमिनीचा शेकडा उतार 10 टक्के पेक्षा कमी असावा.
<br>3.काम झाल्यानंतर 15 सें.मी. खोलीची माती शिल्लक राहील इतकी जमिनीची खोली असावी.
<br>4.पावसाचे ताण दिल्यास जवळच्या झ-यातून पाणी वळवून आणून भात पिकास एखादे पाणी देण्याची सोय असावी.
</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Terriacing_2.jpg" width="400" height="300">

<hr>
<header><h1 style="color:DodgerBlue;">	padkai</h1></header>





<p>
Govt. Decision no. Planning Department No. / Rohyo 2009 / Pr.No.50 / Rohyo-1, dated 1 July 2009, approval has been given for implementation of Padkai program in Dimbe dam area in Ambegaon taluka of Pune district. Financial parameters have been revised as per Jalasam-2013 / Prakr-114 / Jal-7 / dated 10.10.2013. Accordingly, on the lines of the Padkai program, the tribal farmers in the tribal areas are undertaken with the help of stone dams on very sloping lands.
<br>
<br>
</p>
<h2 style="color:MediumSeaGreen;">जागा निवडीचे निकष </h2>
<p> 1. Land slope should be 8 to 20 percent.
<br>2.Annual average rainfall is 1250 mm. Should be greater than
<br>3.Soil depth is an important factor when choosing a site. Depth of soil to a pan, which impedes rooting, should be maintained.
<br>4.Due to the steep slope of the area in which the scheme is to be implemented, most of the area will be in the upper part of the watershed and it is likely to be close to the forest area. Often farmers should not choose areas that are under forest cover or where there is a possibility of encroachment. Also, while working on the lower side of the forest area and private forest, care should be taken not to erode the soil in the upper area and also not to increase the sun by falling trees, shrubs and large stones. The appropriate burma should be released in such areas.
</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/Padkai_1.jpg" width="400" height="300">
<hr>
<header><h1 style="color:DodgerBlue;">	Laying stone embankment on the hill slope</h1></header>




<p>
As per the Government Resolution dated 16th July, 2007, the Government has given approval for the construction of stone dams on the hill slopes on the private lands of the farmers of Konkan and Western Maharashtra.
<br>
<br>
</p>
<h2 style="color:MediumSeaGreen;">जागा निवडीचे निकष </h2>
<p> 1. This treatment should be applied in watershed areas.
<br>2The scheme should be implemented in areas where continuous grazing work has not been done.
<br>3.For this scheme, lands on hills and slopes which are sloping and sloping and unsuitable for leveling or continuous grazing work should be selected. Also choose a place where there is enough stone available
.
</p>

<p> Resolution Picture</p>

<img src = "http://krishi.maharashtra.gov.in/Site/Upload/Images/dagdi_bunds_on_slope.jpg" width="400" height="300">









    

</body>
</html>
