<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">Watershed concept</h1></header>



<h2 style="color:MediumSeaGreen;">Watershed Definition --</h2>

<p>
Area where water naturally flows from one place through a nala. That whole area is called the catchment area..
    <br>Assuming a stream to be proportional, the whole area from which water flows into it is called the catchment area of ​​that stream.
    
    
<br>
<br>
</p>

<h2 style="color:MediumSeaGreen;">Types and sizes of watersheds - </h2>
<p>Each reservoir on the surface and each body of water has its own catchment area. Each of these small streams has its own separate catchment area, which, when combined, forms its larger combined catchment area, and when many such streams combine to form a river, its tributaries are formed. <br>
</p>
 <br>
<h2 style="color:MediumSeaGreen;">Watershed classification by area: </h2>
<p> 1. Micro Watershed - Up to 10 hectares
<br>2.Mini Watershed -Up to 200 hectares
<br>3.Sub Watershed-Up to 4000 hectares
<br>4.River Vally-No area limit.
</p>


<p>Before designing a watershed development, it is necessary to examine all the following properties of the watershed. For this we will see how all these properties affect the catchment area.</p>
<br
<p>

1) Dimensions -
The amount of watershed in the catchment area depends on the area of ​​the catchment area. Similarly, large catchment area is convenient for drainage. However, as the catchment area expands, so does the variation in its geological composition, soil type, slope, etc.
<br>
<br>2) Size -
The size of the catchment area affects the size of the catchment area approaching its outlet. The proportion of watershed coming from the catchment area is related to the ratio of its length and width, it is inversely proportional to the length and equal to the width. If the length of the catchment area is greater than its width, it may take longer for water to reach the outlet. This allows water to remain submerged and seep into the soil, and less water enters the outlet. If the same situation is reversed, that is, if the width is greater than the length, then the watershed in the whole catchment area comes to the exit route sooner. Therefore, it is less resistant and less compacted in the soil. Also, when the catchment area near the exit is large, it is important to see how the catchment area can have different shapes.
<br>
<br>3) Downhill -
The average slope of a watershed is determined by the height of the highest point in the catchment area and the maximum length of the slope. The time it takes for a drop of water flowing from the farthest point to reach the exit route is less than the flat catchment area for the inverse proportion of height at the horizontal distance from the point of exit of that point to the catchment area of ​​the steep slope. If it takes more time to carry the watershed, more water seeps into the soil and the watershed becomes less. The catchment area near the exit point of a steep sloping catchment area is always higher than the catchment area of ​​a flat catchment area of ​​the same area.

<br><br>4) Ground cover
Surface mulch is a vegetation on the surface, which affects both the surface watershed and the soil erosion. If there is grass all over the soil, it keeps the soil particles tight and reduces soil erosion. If there is dense vegetation on the ground, the intensity of rainfall on the ground will be reduced by getting stuck in it and hence less dust particles will fly away and less incense. But if the land is cultivated and brought under cultivation, then there will be a lot of incense as the soil particles are free in such land. From this it is possible to decide which type of soil to treat. Also plant roots increase soil porosity. As a result, more water seeps into the soil, and less groundwater is lost.

<br><br>5) Flow wealth -
It is also necessary to study the number of streams, streams, streams, etc. flowing in the catchment area. This is because the level of watershed in the catchment area, soil erosion and flood problem also depend on it. Similarly, watershed division and outflow direction make it easier to plan watershed management and sun control.

<br><br>6) Land use -
To study how the land in the catchment area is being used now and how to use it in future according to the usability of the land? It is very important to plan. Depending on the use of the land, the crops grown on it and the cultivation method adopted, the use of the catchment area, infiltration and drainage depends on the catchment area. It also determines the type of incense and the intensity of the incense to some extent.

<br><br>7) Watershed: Saran -
The rate of water infiltration depends on the water holding capacity and drainage capacity of the soil. If the water holding capacity of the soil is high, it will absorb a large portion of rain water. However, due to lack of natural drainage of water in such soils, there is a risk of infertility due to water. Conversely, in lands with high drainage, maximum water will be absorbed and surface runoff will be reduced. Watersheds from lands with low water holding and drainage capacity will be more.

<br><br>8) Soil type -
This is a very important factor. Depending on the water holding capacity, drainage and inflow of soil. This means that the amount of watershed and incense also depends on it to a great extent. For this, the type of soil has to be decided by studying the composition, texture, color etc. of the soil. This work is done through soil survey system. In heavy soils the amount of incense is high but in light soils it decreases.

<br><br>9) Geology -
The type of soil depends on the subsoil and the rock. Therefore, it is important to study this from the point of view of watershed management.

<br><br>10) Depth of soil -
Soil depth is also a factor affecting soil erosion, runoff and so on. This is also studied in soil survey.
</p>


<h2 style="color:MediumSeaGreen;">Rainfall and its properties -</h2>
<p>
11) Rainfall -
Rainfall is rainwater falling on the surface. It is measured in millimeters. The amount of rainwater that falls over a certain area of ​​a surface over a period of time is considered to be the rainfall over that area over a period of time. The water thus measured for a given date throughout the year is the accumulated rainfall up to that date and the total rainfall of such measured rainfall throughout the year is considered to be the annual rainfall of the area. Thus the average annual rainfall of an area is determined by averaging the rainfall over the last few years (e.g. 10, 25, 50). The total catchment area of ​​a catchment area is determined on this rainfall basis.

<br><br>12) Rainy season -
Rain does not usually fall continuously, but sometimes stops falling and then starts falling again after some time. The period of time when rain falls all at once is called rainy season. If the rainfall period is short, maximum water is absorbed in the soil and the amount of surface runoff decreases. Conversely, if the rainfall is high, the soil becomes saturated and its water absorption capacity decreases.

<br><br>13) Rainfall Density -
Rainfall density is the amount of rain that falls over a period of time. This is generally calculated as mm per hour. The total rainfall in a given hour is the density of rainfall in that hour. Automatic drawing type rain gauge is required to determine rainfall density. From this graph, the rainfall density of each day, every hour is calculated. The hour in which the maximum rainfall density is thus observed throughout the year is considered to be the maximum rainfall density of that catchment area for that year. Considering the rainfall density of the last few years (e.g. 10, 25, 50) which is the highest, it is considered to be the peak peak density of those periods. Reversible peak rainfall density of a period of 10 to 25 years is generally considered to determine the pattern of soil conservation measures.

<br><br>14) Frequency -
Considering the total annual rainfall, the maximum rainfall in the last few years (e.g. 10, 25, 50) is the frequency of that rainfall. For example, an area of ​​1250 mm. Frequency of rainfall is a maximum of 1250 mm of rainfall in that area once in 10 years.

<br><br>15) Delivery -
Rainfall does not fall uniformly throughout the region. Or it does not fall every time, so its distribution depends on the area and time in which it falls.
</p>



    

</body>
</html>
